[2018-12-27 19:42] RaymondS1 commented on #451
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/566979
mRNA published

https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/575028
Swissprot Upload

https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/596353
Trembl Upload

https://hardwoodgenomics.org/admin/tripal/tripal_jobs
Interpro Scan Upload

https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/620670
Kegg Upload

[2018-12-27 22:41] mestato opened #466 "Liriodendron chinense reference genome"
### Publication and Data Information
https://www.nature.com/articles/s41477-018-0323-6

### Additional Information

### Checklist
See [New Genome Documentation](https://github.com/mestato/statonlabprivate/wiki/How-to-load-a-new-organism-and-genome) for detailed instructions.
- [x] Create Organism
- [x] Create Publication
- [x] Create Reference Genome
- [x] Create InterProScan Annotation
- [x] Crea

[2018-12-31 16:20] CaseyRichards92 commented on #462
### Live Site ###
Swissprot job https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/575033
IPS Job https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/575038
KEGG Annotation created https://www.hardwoodgenomics.org/KEGGresults/2630416
KEGG Job https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/575039
Downloads added for CDS and peptide files added https://www.hard

[2018-12-31 16:57] CaseyRichards92 commented on #462
Could not transfer all of the xml files for trembl to Hardwoods server due to "No space left on device"

[2019-01-02 19:02] CaseyRichards92 commented on #462
Re running xmls 133-134 for trembl as they are the only ones that failed.

[2019-01-03 16:18] CaseyRichards92 commented on #466
## AG SITE ##
Organism created https://hardwoods.ag.utk.edu/organism/Liriodendron/chinense
Publication created https://hardwoods.ag.utk.edu/Publication/2768043
Reference Genome w/ publication https://hardwoods.ag.utk.edu/Genome-assembly/2768044?tripal_pane=group_summary_tripalpane
IPS Annotation https://hardwoods.ag.utk.edu/InterProScan-annotation/2768045
BLAST Swissprot Annotation https://hardwoo

[2019-01-03 16:39] CaseyRichards92 commented on #249
AG SITE
JBrowse https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/503917

[2019-01-03 17:23] CaseyRichards92 commented on #51
AG SITE
JBrowse instance added https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/503919

[2019-01-04 18:58] CaseyRichards92 commented on #466
@mestato We cannot seem to find the .cds or the .peptides files for this organism with the accession number provided in the article. I have looked on NCBI and EBI and was only able to find the GFF and FNA files. Any help would be great.

ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/003/013/855/GCA_003013855.2_NJFU_Lchi_2.0/

[2019-01-04 22:40] bradfordcondon opened #467 "microsatellite viewer is a mess on live"
### Bug description
see:
https://www.hardwoodgenomics.org/bio_data/1072255?tripal_pane=group_summary_tripalpane

the microsatellite field is looking horrible on live attached ot mRNA.

![screen shot 2019-01-04 at 5 39 24 pm](https://user-images.githubusercontent.com/7063154/50714675-bceecd80-1047-11e9-930b-7a592d701f5b.png)

looks like the columns need to wrap, and they dont.

[2019-01-05 16:24] mestato commented on #466
I sent a message to the first and last author. For a template for future use/update, here's what I sent:

[2019-01-05 18:30] mestato commented on #249
Comments on JBrowse for dev site:
- I get “error reading from name store” - I think @almasaeed2010 has solved this before, but I can’t remember what its about. it then loads fine
- we also has a trick where clicking on the feature gives you an option to go to the gene page on hwg, which would be good to get working

[2019-01-05 18:31] mestato commented on #51
Comments on JBrowse for dev site:
- its possible when clicking on the feature to give the user an option to go to the gene page on hwg, which would be good to get working
- every genomic location has one big bar at the top labeled “unknown”, any idea whats going on with that? need to examine that entry in the gff file

[2019-01-07 19:11] RaymondS1 commented on #365
I have began (5) microcarpa

[2019-01-07 19:16] almasaeed2010 commented on #467
<img width="898" alt="screen shot 2019-01-07 at 2 14 51 pm" src="https://user-images.githubusercontent.com/1512664/50788185-a2eefe00-1286-11e9-9e25-a1de7dbab64f.png">
This is what it would look like if we allow it to wrap. A little better but still a mess. My opinion is to find a way to make the table smaller. E,g:

|Key|Value|
|---|-----|
|Name|Gene21|
|Unique Name| Gene21.m|
|Motif|test|

[2019-01-07 19:34] bradfordcondon commented on #467
yeah agreed that would look a lot better.

We can also probably get away with only displaying the name and not the uniquename.

[2019-01-07 19:47] RaymondS1 commented on #452
@mestato I found the Gff and genome for this organism, but not the CDS or protein files. https://www.ncbi.nlm.nih.gov/genome?LinkName=nuccore_genome&from_uid=1517459956

[2019-01-07 20:51] RaymondS1 commented on #452
https://hardwoods.ag.utk.edu/organism/Casuarina/equisetifolia
Organism created

https://hardwoods.ag.utk.edu/Publication/2768050
Publication

https://hardwoods.ag.utk.edu/BLAST-annotation/2768052
SwissProt Annotation

https://hardwoods.ag.utk.edu/BLAST-annotation/2768055
Trembl Annotation

https://hardwoods.ag.utk.edu/InterProScan-annotation/2768056
Interpro Scan Annotation

https://hardwoods.ag.u

[2019-01-08 16:38] CaseyRichards92 commented on #431
Dev site
Track added to Jbrowse instance with converted .gtf file to .gff file https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/504339

JBrowse has already been completed for the Juglans species. No need to go further with this task.

[2019-01-08 17:33] CaseyRichards92 commented on #466
Use this link for appropriate downloadable files (cds, peptide, gff, and fasta)
https://pan.genomics.cn/ucdisk/s/QjABju

[2019-01-08 19:26] RaymondS1 commented on #453
https://hardwoods.ag.utk.edu/organism/Osmanthus/fragrans
Organism

https://hardwoods.ag.utk.edu/Publication/2768059?tripal_pane=group_summary_tripalpane
Publication

https://hardwoods.ag.utk.edu/Genome-assembly/2768063
Reference Genome

[2019-01-09 18:19] patricksis commented on #447
Had to run trembl again for 368 and 357 because those were the only two that exceeded walltime.

[2019-01-09 18:50] patricksis commented on #340
Live site:
BLAST DB for cds
https://www.hardwoodgenomics.org/content/morus-notabilis-transcripts
For peptides:
https://www.hardwoodgenomics.org/content/morus-notabilis-peptides

[2019-01-09 19:02] patricksis commented on #264
Live site:
Blast db for cds:
https://www.hardwoodgenomics.org/content/punica-granatum-transcripts
for proteins:
https://www.hardwoodgenomics.org/content/punica-granatum-peptides

[2019-01-09 19:33] patricksis commented on #447
Live site:
BLAST db for cds:
https://www.hardwoodgenomics.org/content/juglans-cathayensis-transcripts
for peptides:
https://www.hardwoodgenomics.org/content/juglans-cathayensis-peptides

[2019-01-09 20:28] patricksis commented on #264
Dev site JBrowse:
https://hardwoods.ag.utk.edu/admin/tripal/extension/tripal_jbrowse/management/instances/7

[2019-01-11 18:52] almasaeed2010 commented on #467
Issue fixed on live. PR can be merged once approved.

[2019-01-11 18:52] #467 closed, assigned to almasaeed2010

[2019-01-11 18:55] almasaeed2010 commented on #457
Looked into it. It has to be done on the tripal side of things if we want to automate the process. It's  difficult to implement since we'll need to write a query reader that would analyze the query to determine what operations to listen to. I don't think it's worth going through all of that honestly.

I'll close but please feel free to reopen if you disagree.

[2019-01-11 18:55] #457 closed

[2019-01-11 19:00] almasaeed2010 opened #468 "Populas deltoides is missing BLAST"
https://hardwoodgenomics.org/organism/Populus/deltoides?tripal_pane=group_summary_tripalpane

We need to run BLAST for this organism.

I'll try to find the fasta files for it

[2019-01-11 19:57] MattHuff commented on #462
Trembl job on live site with added 133 and 134 files [https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/598798](https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/598798)

[2019-01-11 21:06] CaseyRichards92 commented on #466
Swissprot
[code]

[2019-01-11 21:19] CaseyRichards92 commented on #466
TrEMBL
[code]

[2019-01-14 20:32] CaseyRichards92 commented on #466
IPS
[code]

[2019-01-15 14:36] CaseyRichards92 commented on #466
## LIVE SITE ##
Organism created https://www.hardwoodgenomics.org/organism/Liriodendron/chinense
Publication created https://www.hardwoodgenomics.org/Publication/2630419
Reference Genome w/ publication w/ downloads https://www.hardwoodgenomics.org/Genome-assembly/2630420
IPS Annotation https://www.hardwoodgenomics.org/InterProScan-annotation/2630421
BLAST Swissprot Annotation https://www.hardwoodg

[2019-01-15 17:21] bradfordcondon opened #469 "Upgrading modules to "gold" standard"
### Feature description

We should prioritize which modules should be upgraded to higher standards.   Some will obviously need more work than others.

For bronze + silver this means:

- license
- release
- README
- admin interface for customization if appropriate

Most of our modules should meet these requirements already.

For gold:

- CI and unit testing
- Thorough documentation
- Field specific

[2019-01-15 20:14] RaymondS1 commented on #468
SwissProt
[code]

Trembl
[code]

[2019-01-16 17:57] patricksis commented on #447
Dev site:
Trembl upload job:
https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/504979
Swissprot upload job:
https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/505038
ips upload job:
https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/505044
KEGG annotation:
https://hardwoods.ag.utk.edu/KEGGresults/2803333
KEGG import:
https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/vi

[2019-01-16 18:19] patricksis commented on #447
Live site:
Swissprot annotation:
https://www.hardwoodgenomics.org/BLAST-annotation/2665694
Trembl annotation:
https://www.hardwoodgenomics.org/BLAST-annotation/2665695
InterProScan annotation:
https://www.hardwoodgenomics.org/InterProScan-annotation/2665696
cds upload:
https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/608487
peptide upload:
https://www.hardwoodgenomics.org/admin/tripa

[2019-01-16 20:40] RaymondS1 commented on #468
https://hardwoodgenomics.org/BLAST-annotation/2665697
SwissProt Annotation

https://hardwoodgenomics.org/BLAST-annotation/2665699
Trembl Annotation

[2019-01-16 21:50] bradfordcondon commented on #469
i made this md template
[code]

[2019-01-17 18:25] RaymondS1 commented on #468
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/620666
SwissProt Upload

https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/622909
Trembl Upload

[2019-01-18 14:52] kyrenya commented on #400
I think I'm experimenting the same issue here.. any solution?

![image](https://user-images.githubusercontent.com/43243429/51393830-985b2100-1b30-11e9-9928-2b2bf5638025.png)

[2019-01-18 14:57] kyrenya commented on #400
I think I'm experimenting the same here..
![image](https://user-images.githubusercontent.com/43243429/51393875-b0cb3b80-1b30-11e9-8e69-e6b70e29900f.png)

any advice?
running IPS with mRNA is not solution for me.. I got it 15 days working and it was not going to ever finish.. too big archive for translating in all ORFs..  I might use a translator first and then IPS.. but if there is a shortcut poss

[2019-01-18 21:26] CaseyRichards92 commented on #130
Swissprot

[code]

[2019-01-22 15:25] bradfordcondon commented on #226
using this issue for demonstrating gene fields on HWG dev.  but first, an update (see https://github.com/tripal/tripal/issues/732 for full issue)

- we have a master field that recursively goes through feature_relationship and expands featureloc, featureprop, and feature_cvterm
- we have children field that use that master field for info
- child fields include: listing all featureprops, feature_cv

[2019-01-22 15:53] bradfordcondon commented on #226
Here are some examples on dev

I only found annotations on the mRNA, nothing with annotations on hte protein (which again makes sense since we load annotations onto the mRNA.  they would only exist if they were in the GFF file).

- https://hardwoods.ag.utk.edu/feature/maker-scaffold03896-augustus-gene-016?tripal_pane=group_properties
- https://hardwoods.ag.utk.edu/feature/maker-scaffold38635-augus

[2019-01-22 16:15] MattHuff opened #470 "Automated Annotation - Gene Fasta Files"
The current Automated Annotation protocol produces three fasta files:

* Genes
* mRNAs
* Polypeptides

The mRNA and Polypeptide fasta files contain their respective coding sequences, but the gene fasta only contains the gene name as a fasta header with no other information:

[code]

Is this what should be expected from the annotation, or is this file lacking sequence information it needs?

[2019-01-22 16:16] bradfordcondon commented on #470
gene sequences are derived from featureloc only (whereas the mRNA and polypeptides have the sequences stored in the feature.residues column).

If the parent fasta file (contig, scaffold) didnt have sequences, theres no way to know the gene sequence.

For the current HWG workflow, gene sequences are generally ignored.  So the answer to your question is no its fine.  But perhaps the annotation proto

[2019-01-22 16:59] mestato opened #471 "Panes for feature annotations"
### Feature description
Currently, features have an annotation pane AND an interpro scans pane, with some duplicate information. When viewing the interproscan results in the annotation pane, its not clear that there is more detail in the interpro scans pane

I think we either have all annotations in one pane (BLAST, KEGG, GO, InterProScan) or we have them all in separate panes, but not a hybrid wh

[2019-01-22 17:03] mestato opened #472 "Add analysis origin to feature summary"
### Feature description
If you are looking at a feature page, from the summary pane, you should be able to find out where this feature came from (and click through to it). in the case of a reference genome or a reference transcriptome or other.

### Link to relevant info

[2019-01-22 17:07] bradfordcondon commented on #472
simple field. for the analysisfeature table, IMO would be happy in core.  Need to make sure that both the GFF loader and the FASTA loaders are linking the feature to the analysis.

Alternatively extend the manage_analyses fields to also attach to feature.

[2019-01-22 17:07] mestato opened #473 "XRay ontology explorer from/for an analysis?"
### Feature description
As a user if I was looking at a reference genome or a reference transcriptome, I might want to explore the GO terms or the KEGG terms for the features derived from that analysis (genes or mRNA-polypeptides). However, you have to know to go back to the organism page to do this, which isn't very intuitive and might make it difficult to discover. Two possible solutions:
- make

[2019-01-22 17:09] mestato commented on #466
- [x] From annotations pane, the KEGG should link out
- [x] since we have kegg and go terms, we need the xray pane on the L. chinense organism page
- [x] dbxref for the analysis should link to ncbi record

[2019-01-22 20:34] adevine4 commented on #48
https://hardwoodgenomics.org/Genome-assembly/2702045 live site reference genome
https://hardwoodgenomics.org/InterProScan-annotation/2702046 live site IPS annotation
https://hardwoodgenomics.org/BLAST-annotation/2702047 live site swissprot blast annotation
https://hardwoodgenomics.org/BLAST-annotation/2702049 live site trembl blast annotation

[2019-01-23 12:43] almasaeed2010 commented on #471
Since the annotations field is a core field, we might need to either create an issue or core or create our own simple field that allows us to customize the field to display only certain CVs.

@cricha59 Could you go through and change `InterPro Scans` to `InterProScan`?
Steps to do that:
1. Visit https://hardwoodgenomics.org/admin/structure/bio_data
1. Click `Manage Display` on mRNA (or gene)
1. Cl

[2019-01-23 12:48] almasaeed2010 commented on #472
What does it mean when you have more analysisfeature records than features?

[code]

Are those "orphaned" links?

[2019-01-23 12:51] almasaeed2010 commented on #472
Ok sorry I get it.

[code]
This means that all features actually exist.

I guess this is linking the same features to multiple analyses which is what we want.

Then yeah, this is a simple field that we can easily PR to core.

[2019-01-23 12:53] almasaeed2010 commented on #473
Both options are feasible. XRay already limits by analysis which means the code to get annotations from an analysis instead of organism is already there and would just need a little tweaking to work.

[2019-01-23 13:31] CaseyRichards92 commented on #471
@almasaeed2010 Done.

![image](https://user-images.githubusercontent.com/43444146/51609839-247e9700-1ee9-11e9-98a0-3e3ae794ca4f.png)

![image](https://user-images.githubusercontent.com/43444146/51609882-3bbd8480-1ee9-11e9-9d8c-61b477884e7b.png)

[2019-01-23 19:24] jwest60 commented on #260
working on changing Additional File 3 above into a cmap appropriate file, but i'm missing `feature_name` and `feature_accession`

this is what i have so far, some of the information may be wrong
![image](https://user-images.githubusercontent.com/32902460/51631340-71c72c80-1f1a-11e9-952c-f5ca1bf8a3bf.png)

not sure if the headers are needed

[2019-01-23 20:10] CaseyRichards92 commented on #130
Swiss -Prot on live site completed https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/622913

[2019-01-23 20:18] CaseyRichards92 opened #474 "Missing data for organisms"
FASTA files can be found at:
/files/files/automated_annotation/gene.fasta
/files/files/automated_annotation/mRNA.fasta
/files/files/automated_annotation/polypeptide.fasta

Castanea crenata (Japanese Chestnut):
- [x] BLAST UNIPROT/TREMBL is missing
- [x] BLAST Swiss-Prot is missing
- [x] INTERPRO annotations are missing
- [x] KEGG annotations are missing
- [x] GO annotations are missing

Castanea s

[2019-01-23 21:21] mestato commented on #391
Can only find raw reads. @mestato email authors

[2019-01-24 14:35] mestato commented on #260
- For map_acc change "organism" to "Q_rubra".
- In general, the feature_name and feature_accession can be identical to locus_accession (and that's the model show in https://github.com/statonlab/tripal_cmap_loader#expected-cmap-data)
- map start is 0, map stop is the location of the last marker on that map. so in the case of LG1, it starts with the first marker at 0 and the last marker at 72.535. S

[2019-01-24 14:38] almasaeed2010 commented on #260
Thanks for the clarifications @mestato

Just a note that `map_start` and `map_stop` are not actually used and can be safely ignored or zeroed out

[2019-01-24 15:21] mestato opened #475 "Macadamia integrifolia genome"
### Publication and Data Information
https://bmcgenomics.biomedcentral.com/articles/10.1186/s12864-016-3272-3

### Additional Information

### Checklist
See [New Genome Documentation](https://github.com/mestato/statonlabprivate/wiki/How-to-load-a-new-organism-and-genome) for detailed instructions.
- [x] Create Organism
- [x] Create Publication
- [x] Create Reference Genome
- [x] Create InterProSca

[2019-01-24 15:23] mestato opened #476 "Papaya genome"
### Publication and Data Information
https://www.nature.com/articles/nature06856

This is quite old, lets check around for any newer versions (phytozome, ncbi).

### Additional Information

### Checklist
See [New Genome Documentation](https://github.com/mestato/statonlabprivate/wiki/How-to-load-a-new-organism-and-genome) for detailed instructions.
- [x] Create Organism
- [x] Create Publication
- [

[2019-01-24 15:39] mestato opened #477 "Pecan (Carya illinoinensis) transcriptome"
### Publication and Data Information

There are tons of different transcriptome papers:

- https://pubs.acs.org/doi/abs/10.1021/acs.jafc.7b00922
- https://pubs.acs.org/doi/abs/10.1021/acs.jafc.6b04199
- https://pubs.acs.org/doi/abs/10.1021/acs.jafc.8b05239
- https://www.researchgate.net/profile/Ming_Zhi_Li/publication/325795857_Transcriptome_survey_reveals_candidate_genes_involved_in_lipid_metabol

[2019-01-24 15:45] mestato opened #478 "Avocado (Persea americana) transcriptome"
### Publication and Data Information

There are a number of avocado transcriptomes:
- https://www.sciencedirect.com/science/article/pii/S0304423818307064 - Accession: PRJNA258225
PRJNA258225 https://www.ncbi.nlm.nih.gov/bioproject/PRJNA258225/ ***Mixed Seq. Ignore***

- https://bmcgenomics.biomedcentral.com/articles/10.1186/s12864-015-1775-y - Accession: SRS923862
https://www.ncbi.nlm.nih.gov/sra/

[2019-01-24 15:52] mestato opened #479 "Mango (Mangifera indica) transcriptome"
### Publication and Data Information
Transcriptome analysis of 4 cultivars, all in a database so probably able to be downloaded:
 https://www.biorxiv.org/content/10.1101/301358v1

### Additional Information

### Checklist
See [New Genome Documentation](https://github.com/mestato/statonlabprivate/wiki/How-to-load-a-new-organism-and-genome) for detailed instructions.
- [x] Create Organism
- [x] Crea

[2019-01-24 15:55] mestato opened #480 "Hazelnut (Corylus avellana) genome"
### Publication and Data Information
https://www.biorxiv.org/content/10.1101/469015v1

### Additional Information

### Checklist
See [New Genome Documentation](https://github.com/mestato/statonlabprivate/wiki/How-to-load-a-new-organism-and-genome) for detailed instructions.
- [x] Create Organism
- [x] Create Publication
- [x] Create Reference Genome
- [x] Create InterProScan Annotation
- [x] Creat

[2019-01-24 15:58] mestato opened #481 "Redbud (Cercis gigantea) transcriptome"
### Publication and Data Information
https://www.ingentaconnect.com/contentone/ben/cbio/2016/00000011/00000001/art00007

Doesnt' look like we have access to the paper, but I see RNA data in NCBI.

### Additional Information

### Checklist
See [New Genome Documentation](https://github.com/mestato/statonlabprivate/wiki/How-to-load-a-new-organism-and-genome) for detailed instructions.
- [ ] Create Or

[2019-01-24 16:04] mestato opened #482 "Crepe myrtle (Lagerstroemia spp.) transcriptomes"
### Publication and Data Information

A number of pubs can be found, so lets start with NCBI (4 SRA RNA datasets available, all L. indica).

### Additional Information

### Checklist
See [New Genome Documentation](https://github.com/mestato/statonlabprivate/wiki/How-to-load-a-new-organism-and-genome) for detailed instructions.
- [ ] Create Organism
- [ ] Create Publication
- [ ] Create Reference G

[2019-01-24 16:52] patricksis commented on #480
Couldn't find any peptide files http://hazelnut.data.mocklerlab.org/

[2019-01-24 17:39] bradfordcondon commented on #480
@patricksis http://hazelnut.data.mocklerlab.org/C.avellana_transcriptome_Jefferson_ORFs_final.fasta?__sw_csrfToken=m0gHTdSFmHjjw669LSmonvbomgoq7Lqg

[2019-01-24 18:36] adevine4 commented on #48
reference genome https://hardwoods.ag.utk.edu/Genome-assembly/2803336
 IPS annotation https://hardwoods.ag.utk.edu/InterProScan-annotation/2803337
 swissprot blast annotation https://hardwoods.ag.utk.edu/BLAST-annotation/2803338
 trembl blast annotation https://hardwoods.ag.utk.edu/BLAST-annotation/2803339

[2019-01-24 19:29] RaymondS1 commented on #468
Link to finished organism
https://hardwoodgenomics.org/organism/Populus/deltoides

Link to mRNA page
https://hardwoodgenomics.org/feature/Podel01G2127001?tripal_pane=group_summary_tripalpane

[2019-01-24 19:30] RaymondS1 commented on #451
https://hardwoodgenomics.org/organism/Juglans/microcarpa
Link to the finished organism

https://hardwoodgenomics.org/feature/Jumi_03626.t2?tripal_pane=group_summary_tripalpane
Link to the mRNA page

[2019-01-24 19:52] adevine4 commented on #48
https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/505459 fasta loader swissprot
https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/505460 fasta loader trembl
https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/505461 fasta loader IPS
https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/505466 swissprot blast upload

[2019-01-24 20:25] jwest60 commented on #260
@mestato Here's Quercus Rubra with the genetic map on the dev site:

[organism](https://hardwoods.ag.utk.edu/organism/Quercus/rubra?tripal_pane=group_physical_and_genetic_map)

[map](https://hardwoods.ag.utk.edu/mapviewer/3/LG1)

![image](https://user-images.githubusercontent.com/32902460/51706357-3b59e200-1fec-11e9-8226-f07e7ab2b12d.png)

[2019-01-24 20:37] bradfordcondon commented on #260
looks like the map field isnt configured to display in a tripal pane, let me correct that.

[2019-01-24 20:38] RaymondS1 commented on #476
SwissProt
[code]

Trembl
[code]

[2019-01-24 20:39] bradfordcondon commented on #260
it also looks like the map didnt load right: e verythign is on one linkage group, LG1.  There should be multiple linkage groups.  (LG1, LG2, LG3...) . Did you adapt the cmap file yourself @jwest60 ?   can you show it to me?

[2019-01-24 20:43] jwest60 commented on #260
Yup, I created the cmap file manually from the Excel spreadsheet. Here's the cmap file:

[quercus_rubra.cmap.gz](https://github.com/statonlab/hardwoods_site/files/2793533/quercus_rubra.cmap.gz)

[2019-01-24 20:45] bradfordcondon commented on #260
ok, so LG2, 3, etc, are in the cmap file you loaded.  Next question, are they in the database.

[2019-01-24 20:46] bradfordcondon commented on #260
[code]

nope.  Why not?  must be something wrong with the loader....
let me try loading it on my dev site.

[2019-01-24 20:52] bradfordcondon commented on #260
please review the column mappings

https://github.com/statonlab/tripal_cmap_loader#cmap-column-to-chado-mapping

map_acc is defined as:

your map_acc value is always Q_rubra.LG.  it should be Q_rubra.LG1, Q_rubra.LG2, etc.

because you se tthe uniquename of each linkage group to the same name, it all gets loaded into one linkage group, named Q_rubra.LG

Maybe its confusing because you think one o

[2019-01-24 21:19] MattHuff opened #483 "Automated Annotation - January 2019"
I've copied the mRNA and polypeptide files generated by the current Automated Annotation protocol to the acf, and they can be found in `/lustre/haven/gamma/staton/projects/undergrads/automated_annotation/fasta_012219`. I have split the mRNA CDS file into 3400 separate files, and the protein file in to 1000 files.

Going forward, I believe the best option is for each of us to run BLAST on 680 of th

[2019-01-24 21:33] jwest60 commented on #260
ah, i see, i don't really understand all the jargon like mapping features and linkage groups, so i'm just taking my best guess at what values should go into those columns based on the documentation and comments on this issue

i'll change the map_acc as well as the map_stop column and update with results

[2019-01-24 21:36] bradfordcondon commented on #260
i see the problem
https://github.com/statonlab/hardwoods_site/issues/260#issuecomment-425935660

i was suggesting you name the map_acc the organism's name and the LG (linkage group's) name.  you thought i was saying the column should always be a literal `organism.LG` instead of the organism name and the LG name.  Meg noticed and it was corrected  Q_rubra.LG instead of Q_rubra.[name of the linkage

[2019-01-24 21:52] jwest60 commented on #260
i just updated the cmap and reran the importer on dev, but the job likely won't be run until tomorrow. job id = 505467

until then, here's the updated cmap in case i missed anything
[q_rubra2.cmap.gz](https://github.com/statonlab/hardwoods_site/files/2793766/q_rubra2.cmap.gz)

[2019-01-24 21:54] bradfordcondon commented on #260
looks like you've resolved it, way to go.

i havent looked at the code closely, you might find you near to clear the previous map's data before re-importing.  i dont know if the markers will now appear twice, once on LG1, and once on its correct linkage group.

[2019-01-25 12:36] almasaeed2010 commented on #260
I ran the job manually and there was an error. Here is the output:

[code]

[2019-01-25 12:46] almasaeed2010 commented on #260
If this is the case, we need to update the readme in tripal_cmap_loader repo which suggests that it is not used ->
<img width="661" alt="screen shot 2019-01-25 at 7 45 03 am" src="https://user-images.githubusercontent.com/1512664/51746794-54f33c00-2075-11e9-8a9f-ec5d2aea8dc3.png">

[2019-01-25 13:01] bradfordcondon commented on #260
oh ok then who cares.  It's still true, those are the correct map start/stop values, but i forgot the importer ignores them---- sorry joe.

[2019-01-25 18:12] patricksis commented on #483
I'll do files 681-1360

[2019-01-25 19:06] CaseyRichards92 commented on #466
@almasaeed2010 as discussed, could you fix KEGG so it links out from the annotations page.

[2019-01-25 19:27] CaseyRichards92 commented on #466
@almasaeed2010 Cross Reference will not save when accesion # is placed into the space. Error recieved
![image](https://user-images.githubusercontent.com/43444146/51768109-5c363c00-20ad-11e9-93f4-b9961ee09a36.png)

[2019-01-25 20:53] bradfordcondon commented on #466
can you show us what you tried to put for the cross reference field?
(when filling out the form?)

[2019-01-28 13:26] bradfordcondon commented on #234
I have merged my pending PRs into our fork.  We will use that fork on live and dev.

https://gitlab.com/statonlab/tripal_map

I suggest having that be the `origin` remote to keep ti simple until we decide we can use the main fork.

[2019-01-28 13:26] almasaeed2010 commented on #260
@jwest60 the issue with the field was fields has been fixed. You'll need to reload the data and re-enable fields. I'll fix the mview.

[2019-01-28 13:26] bradfordcondon commented on #394
documentation has been added to cmap, and to her module.

[2019-01-28 13:28] bradfordcondon commented on #334
hmmm i THINK the loaders are all nice and fixed now so we could reapproach this.

That said, as part of  https://github.com/NAL-i5K/tripal_eutils we were looking at this... we should rethink mapping the properties.  As we've talked about on that project, it would be ideal if ncbi were the ones to map their properties to ontology terms.  Will they?

[2019-01-28 13:37] almasaeed2010 commented on #466
I think he had NCBTaxon and simply a number in the accession field. He also tried BioProject which failed with a similar error.

[2019-01-28 13:42] CaseyRichards92 commented on #466
@bradfordcondon I did NCBITaxon and NCBI BioProjet with the accession number and neither worked.

So NCBI Taxon w/ accession # 418360 and NCBI Bio Project w/ accession # 418360

I also tried putting PRJNA418360 which didnt work either

[2019-01-28 13:45] bradfordcondon commented on #466
when trying to do so on dev:

![screen shot 2019-01-28 at 8 45 03 am](https://user-images.githubusercontent.com/7063154/51840103-29708b80-22d9-11e9-8730-3a37688fd422.png)

[code]

this is the Tripal Map module.

Your error might be different.  im going to create a seperate issue to resolve.

[2019-01-28 13:48] bradfordcondon opened #484 "error editing organism content and adding dbxrefs."
### Bug description

error creating and editing organism content.

#### error 1
this is definitely due to tripal map.  i think udpating the module on dev wil fix it
[code]

#### errror 2

![image](https://user-images.githubusercontent.com/7063154/51840209-70f71780-22d9-11e9-85d8-0798c7ff528a.png)

not sure if thats live or dev.  different error

### Location

on dev:  https://hardwoods.ag.utk.edu/

[2019-01-28 13:53] bradfordcondon commented on #484
via @almasaeed2010

Which just means getting the field updated on dev

[2019-01-28 14:04] bradfordcondon commented on #484
also resolved on dev.

[2019-01-28 14:04] #484 closed, assigned to almasaeed2010, bradfordcondon

[2019-01-28 14:06] bradfordcondon commented on #466
this should be resolved on both live and dev (#484 ) please try again @cricha59

[2019-01-28 14:48] almasaeed2010 commented on #466
I believe all of Meg's concerns have been addressed 👍

[2019-01-28 15:11] CaseyRichards92 commented on #466
@bradfordcondon It works! Thank you for the help.

[2019-01-28 15:44] almasaeed2010 commented on #287
It's been a while since we looked at this. Do we still want to implement it?

[2019-01-28 15:46] almasaeed2010 commented on #423
Thanks to @jwest60 we now have the expression module automatically cache the file and offer for it download when available.

We should add the files as analysis props manually for the few organisms that are already there.

[2019-01-28 16:11] mestato commented on #334
A few resources specifically for biosample records:

1. NCBI kind of has their own controlled vocab:
    - https://www.ncbi.nlm.nih.gov/biosample/docs/attributes/
    - We could probably just use this. However, it isn't hierchical or even "official" so I think continuing with the above mappings to recognized ontologies would be better.

2. Updates to BioSamples database at European Bioinformatics

[2019-01-28 16:21] mestato opened #485 "Juglans regia genetic and QTL map"
First simple sequence repeat-based genetic linkage map reveals a major QTL for leafing time in walnut (Juglans regia L.)

http://scholar.google.com/scholar_url?url=https://link.springer.com/article/10.1007/s11295-019-1318-9&hl=en&sa=X&d=6113746859503588409&scisig=AAGBfm3Po1oAm1rxz9_koe8M6G8uMRHiHg&nossl=1&oi=scholaralrt&hist=UX7-rScAAAAJ:204383478123715844:AAGBfm0k2D5NRxX2fnjxDWoj-lEqBkIhQA

[2019-01-28 16:35] bradfordcondon commented on #334
Thanks for the thoughtful reply

I actually do use that: the eutils module imports it into a "ncbi biosample" CV.

However there is no versioning, no relationships ( this is a CV not an ontology, right?).

Ideally, NCBI would provide an OBO that has all these terms and perhaps says that each term is_a some term in the EFO or some other ontology.  perhaps thats what EBI's mapping does, ill have a l

[2019-01-28 19:30] bradfordcondon commented on #334
ok, so EBI biosample attributes look like this:

https://www.ebi.ac.uk/biosamples/samples/SAMN02953603

[code]

here it is in genbank:

[code]
so you get this ontologyTerms key, if applicable.  Pretty cool honestly.  Will NCBI ever support something like this?  I dont know.  If htey did adopt this it would break our importers because it changes the XML structure (yayyyy)

edit: also the term appea

[2019-01-29 00:06] mestato commented on #334
Wow, thats suprisingly not that helpful. I mean its helpful if someone has already selected a term for the value, but how often is that the case? Its not required, right?

Type terms seem like the logical place to start, especially for unifying information across databases. The NCBI  non-hierarchical vocab for biosample has 615 terms by my count. I wonder if we divided them up among everyone in th

[2019-01-29 02:42] bradfordcondon commented on #334
I think you could start by picking a single "package".   think you can get away with the base package and its only ~18 terms.  Thats what (i think) the majority of the end users end up using. its why teh example data i built eutils with only uses the same set of 20 terms.

I think taht offering suggested mapping for the base terms would be a nice contribution for the chado mapping paper too....

[2019-01-29 18:36] bradfordcondon commented on #334
here is my table for the vanilla plant submission terms for the NCBI.

https://docs.google.com/spreadsheets/d/1uO2Pu4Kh_pcyHfbeAGr72zZp9JWtcD667lw9LP3B8Is/edit#gid=0

I am trying to limit myself to, in order of preference, SIO/EFO, PO/ TO ontologies.  If theres not a direct match, its not easy work.

I think I already did some work on this in another issue so im going to pause before i do too much

[2019-01-29 20:58] RaymondS1 commented on #476
https://hardwoods.ag.utk.edu/organism/Carica/papaya
Link to organism

https://hardwoods.ag.utk.edu/Publication/2803342?tripal_pane=gp_sio__references59886
Link to Publication

***https://hardwoods.ag.utk.edu/Genome-assembly/2803343
Reference Genome

https://hardwoods.ag.utk.edu/BLAST-annotation/2803344
SwissProt Annotation

https://hardwoods.ag.utk.edu/BLAST-annotation/2803346
Trembl Annotation

h

[2019-01-29 21:08] RaymondS1 commented on #476
https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/505894
CDS upload

https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/505965
Polypeptide Upload

https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/505966
RNA published

https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/506407
SwissProt Upload

https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/506408
Tremb

[2019-01-30 18:23] jwest60 commented on #260
@bradfordcondon after reloading the data, we have multiple linkage groups

![image](https://user-images.githubusercontent.com/32902460/52003322-2ec50600-2492-11e9-8011-b92c8ee231b9.png)

[2019-01-30 18:49] patricksis commented on #480
**Dev Site**
Organism page:
https://hardwoods.ag.utk.edu/organism/Corylus/avellana
Publication:
https://hardwoods.ag.utk.edu/Publication/2803350
Reference Genome:
https://hardwoods.ag.utk.edu/Genome-assembly/2803351
InterProScan annotation:
https://hardwoods.ag.utk.edu/InterProScan-annotation/2803352
SwissProt annotation:
https://hardwoods.ag.utk.edu/BLAST-annotation/2803353
Trembl annotation:
htt

[2019-01-30 19:23] bradfordcondon commented on #260
great.

We need to make an issue that the sorting is wrong: lg10 should come after LG9, etc. thats a tripal_map issues though.

[2019-01-30 19:27] almasaeed2010 commented on #260
String sorting vs int sorting. This has to be processed in the PHP side and not using an `ORDER BY` statement. Not an easy prolem to fix if the names are not always prefixed with `LG`

[2019-01-30 19:50] bradfordcondon commented on #260
Well unfortunately LG1, LG2 are the full names of the chromosomes

![](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5450186/bin/12864_2017_3765_Fig2_HTML.jpg)

I think this name schema is common enough it should be supported.  We'd want to come up with a list of cases that should be supported (trees x, y z have chromsomes named these ways...)

[2019-01-30 20:10] patricksis commented on #480
Most likely need a regular expression for the peptide file, ex ```>Corav.1	 -3	834	2144```, were the cds has nothing ```>Corav.1```

[2019-01-30 20:34] CaseyRichards92 commented on #475
## Ag Site ##
Organism created https://hardwoods.ag.utk.edu/organism/Macadamia/integrifolia?tripal_pane=group_summary_tripalpane
Publication https://hardwoods.ag.utk.edu/Publication/2803356?tripal_pane=group_summary_tripalpane
Reference Genome https://hardwoods.ag.utk.edu/Genome-assembly/2803357?tripal_pane=group_downloads
IPS Annotation https://hardwoods.ag.utk.edu/InterProScan-annotation/2803358

[2019-01-31 14:43] MattHuff commented on #482
Current workflow for assembling the transcripts is as follows:

1. Use the SRA Toolkit command `prefetch` to obtain SRA files from NCBI using SRR IDs.
2. Move files from localhome NCBI directory to `/staton/projects/undergrads/crepe_myrtle/raw_transcripts`, and run the SRA Toolkit command `fastq-dump` to convert SRA files to fastq. **This needs to be run using specific options in order for Trinity

[2019-01-31 15:11] CaseyRichards92 commented on #475
@mestato cannot find cds or protein files for this organism
NCBI https://www.ncbi.nlm.nih.gov/genome/?term=PRJEB13765
EBI https://www.ebi.ac.uk/ena/data/view/GCA_900087525
NCBI Downloads ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/900/631/585/GCA_900631585.1_Macadamia_Integrifolia_v2/

[2019-01-31 15:50] CaseyRichards92 commented on #475
@MattHuff Looking to convert gff to cds file using bedtools.

[2019-01-31 15:52] patricksis commented on #480
Peptides loader job:
https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/505954

Regex used ```>(Corav\.\d+)?```

[2019-01-31 15:57] patricksis commented on #480
Publish tribal content:
https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/505955

[2019-01-31 16:22] MattHuff commented on #475
The GFF file available on the NCBI ftp page does not contain any information on what parts are CDS regions:

[code]

[2019-01-31 17:49] bradfordcondon opened #486 "need a "how to cite" link on front page"
im sure you're waiting on the publication but we should link . to something citeable in the meatntime.  perhaps fairsharing DOI.

I say this as someone clicking through websites trying to cite them all for a paper: we want hte words "how to cite us" with a linkout on there :)

[2019-02-01 18:38] patricksis commented on #480
The webpage currently hosting the gff file is down for some reason, will check back later

[2019-02-01 19:44] MattHuff commented on #475
@mestato email the authors of this paper to see if they will provide us the annotation for Macademia.

[2019-02-05 02:56] mestato commented on #475
Email sent to Cathy Nock:
I enjoyed reading your recent paper on the Macadamia genome in BMC Genomics. I am able to find the genome on EMBL but not able to find any gene annotation. Would you be willing to share the gene annotation as fasta and gff (or gtf) files?

I run the hardwood genomics website (https://hardwoodgenomics.org/), a web portal to provide open access tools for exploring tree geno

[2019-02-05 14:33] mestato commented on #475
Response from Cathy (a gold star author that responded to my 10pm email at 11pm!):
Thanks for your email and for your interest. We hope to publish an improved version of the M. integrifolia cultivar 741 genome later this year. In the meantime, some of the requested information for the v1 assembly (Nock et al. 2016) is available at https://cloudstor.aarnet.edu.au/plus/s/VjgtrU5iBVafNfz

Files look

[2019-02-05 18:35] RaymondS1 commented on #476
IPS
[code]

[2019-02-05 19:35] RaymondS1 commented on #483
I'll do 1361-2040
(1361-1700 & 1701-2040)

[2019-02-05 20:43] CaseyRichards92 commented on #475
Swissprot
[code]

[2019-02-05 20:50] CaseyRichards92 commented on #475
TrEMBL
[code]

[2019-02-05 21:02] CaseyRichards92 commented on #475
IPS
[code]

[2019-02-05 21:12] CaseyRichards92 commented on #483
I've got 2041-2720 for cds
Swissprot
[code]
TrEMBL for 2041-2420

[code]
TrEBML 2421-2720
[code]

[2019-02-06 18:39] patricksis commented on #480
ACF trembl
[code]

[2019-02-06 19:54] MattHuff commented on #483
For IPS, I am doing files 1-200. The code I used is as follows:

[code]

[2019-02-07 17:13] adevine4 commented on #48
https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/505962 swissprot results
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/655095 blast swissprot xml loader

[2019-02-07 17:30] adevine4 commented on #48
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/655123 cds fasta loader
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/655127 pep fasta loader
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/655128 publish tripal content

[2019-02-07 18:27] adevine4 commented on #48
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/655129 blast trembl xml loader

[2019-02-07 18:44] RaymondS1 commented on #476
https://hardwoods.ag.utk.edu/feature/XP_021886863.1?tripal_pane=group_homology
A Feature

[2019-02-07 20:00] RaymondS1 commented on #476
### Live Site
https://hardwoodgenomics.org/organism/Carica/papaya
Organism

https://hardwoodgenomics.org/Publication/2702051
Publication

https://hardwoodgenomics.org/Genome-assembly/2702052
Reference Genome

https://hardwoodgenomics.org/BLAST-annotation/2702053
Swissprot Annotation

https://hardwoodgenomics.org/BLAST-annotation/2702054
Trembl Annotation

https://hardwoodgenomics.org/InterProScan-

[2019-02-07 20:44] CaseyRichards92 commented on #475
## Live Site ##
Organism created https://www.hardwoodgenomics.org/organism/Macadamia/integrifolia
Publication https://www.hardwoodgenomics.org/Publication/2702058
Reference Genome https://www.hardwoodgenomics.org/Genome-assembly/2702059
IPS Annotation https://www.hardwoodgenomics.org/InterProScan-annotation/2702060
Swissprot Annotation https://www.hardwoodgenomics.org/BLAST-annotation/2702061
TrEM

[2019-02-11 20:44] CaseyRichards92 commented on #483
I will take IPS 201-400
[code]

[2019-02-12 18:44] RaymondS1 commented on #476
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/662654
SwissProt upload

https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/662658
Trembl upload

https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/662659
IPS upload

https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/662660
Kegg upload

https://hardwoodgenomics.org/content/carica-papaya
blast database cds

https:/

[2019-02-13 17:57] patricksis commented on #483
I'll do 401--600

[2019-02-13 18:45] patricksis commented on #480
Swissprot
[code]

[2019-02-13 19:55] patricksis commented on #480
Ips
[code]

[2019-02-13 20:25] CaseyRichards92 commented on #483
Ill do IPS 601-800, actually ill go ahead and finish up 801-999 also
[code]
[code]

[2019-02-14 18:14] patricksis commented on #480
Trembl xml import job:
https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/507088

[2019-02-14 18:26] patricksis commented on #480
Swissprot xml import job:
https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/507089

[2019-02-14 19:08] patricksis commented on #480
IPS xml import:
https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/522388

[2019-02-15 19:48] CaseyRichards92 commented on #328
@mestato Reading through the link you provided and the recent "tweets" that the page has it appears that they published the paper. Is this the right paper?

https://www.nature.com/articles/s41477-018-0337-0.epdf?shared_access_token=Mr-8Yk_zHjrEvZi2Zp0Fw9RgN0jAjWel9jnR3ZoTv0NBt_Tx9pzgo_4MvWXl4utxKdTbVtTE-bcXBVwgh794uCrX42QnyxpqeDE9bcSzyA6yOixMRAEUhEwXa6bTHu1vm_kdkbfbeZZwpIrIUHRKfSJO5oPciSuN8bAPL5t5

[2019-02-15 20:25] CaseyRichards92 commented on #50
There wasnt a kegg annotaion or upload.
Kegg annotation: https://www.hardwoodgenomics.org/KEGGresults/2843415

[2019-02-17 21:56] mestato commented on #328
Yes, the nature paper looks correct. Good find. For the differing species names, I found this page: http://tropical.theferns.info/viewtropical.php?id=Cinnamomum+micranthum which says the C. kanehirae is now viewed as a form of Cinnamomum micranthum. Since the paper is linked on NCBI, I think you are good to use that data for loading.

[2019-02-18 19:54] CaseyRichards92 commented on #298
Kegg https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/678813

[2019-02-18 20:34] CaseyRichards92 commented on #328
### Cinnamomum micranthum AG site ###
Organism created: https://hardwoods.ag.utk.edu/organism/Cinnamomum/micranthum
Publication created: https://hardwoods.ag.utk.edu/Publication/2892971
Reference Genome: https://hardwoods.ag.utk.edu/Genome-assembly/2892972?tripal_pane=group_downloads
IPS Annotation https://hardwoods.ag.utk.edu/InterProScan-annotation/2892973
SwissProt Annotation https://hardwoods.

[2019-02-20 20:21] CaseyRichards92 commented on #328
SwissProt
[code]

[2019-02-20 20:28] CaseyRichards92 commented on #328
TrEMBLE
[code]

[2019-02-20 20:38] CaseyRichards92 commented on #328
IPS
[code]

[2019-02-21 16:59] patricksis commented on #480
@almasaeed2010 I can't seem to get the IPS results to show up, could you take a look at it for me when you have the time?

[2019-02-21 17:17] almasaeed2010 commented on #480
@patricksis I cleaned up the polypeptides file for you so I think it should work now if you rerun IPS on ACF. Here is the file you should use on the dev server:

[code]

[2019-02-21 17:34] patricksis commented on #480
@almasaeed2010 thank you

[2019-02-21 18:43] adevine4 commented on #48
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/687310 swissprot xml loader

[2019-02-21 18:48] adevine4 commented on #48
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/687314 ips xml loader

[2019-02-22 21:20] mestato commented on #464
Missing genome scaffolds (nucleotide):
- Actinidia chinensis
- Carica papaya (currently unclear whether blast is to genome or genes)
- Citrus sinensis
- Juglans spp.
- Fagus sylvatica
- Handroanthus impetiginosus
- Hevea brasiliensis
- Liriodendron chinense
- Macadamia integrifolia
- Morus notabilis
- Olea europaea
- Populus deltoides
- Populus trichocarpa
- Punica granatum
- Quercus robur

Some o

[2019-02-22 21:21] mestato commented on #464
Quercus robur has been requested so lets make that one the first priority

[2019-02-26 18:41] adevine4 commented on #304
https://hardwoodgenomics.org/content/quercus-robur-transcripts blast database (nt)
https://hardwoodgenomics.org/content/quercus-robur-peptides blast database (pep)

[2019-02-26 18:45] adevine4 commented on #464
@mestato Quercus robur has been added to the live site

[2019-02-26 19:12] adevine4 commented on #304
https://hardwoodgenomics.org/content/quercus-robur-scaffolds blast database (scaffolds)

[2019-02-26 19:17] adevine4 commented on #464
@mestato scaffolds have been added

[2019-02-26 19:29] adevine4 commented on #48
https://hardwoodgenomics.org/content/olea-europaea-transcripts (transcripts)
https://hardwoodgenomics.org/content/olea-europaea-peptides (peptides)
https://www.hardwoodgenomics.org/content/olea-europaea-transcripts-0 (genome transcripts)

UPDATED *Incorrect file path

[2019-02-26 20:45] adevine4 commented on #48
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/701775 trembl xml loader

[2019-02-27 18:40] almasaeed2010 commented on #480
The deletion job is running here: https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/534619

Once the job is done, you can start re-submitting the data

[2019-02-27 19:27] patricksis commented on #480
@mestato The webpage hosting the files has been down for weeks, I need access to the original polypeptide file as well as the GFF file, I attempted to contact them, but sadly I haven't received a response.
Website: https://www.cavellanagenomeportal.com/.

[2019-02-27 20:24] bradfordcondon opened #487 "add module badges to showcase"
Once we get #469 going @mestato would like us to add badges to the showcase page.

[2019-02-27 21:30] CaseyRichards92 commented on #328
@almasaeed2010 I received this error multiple times when trying to upload the Blast db

![image](https://user-images.githubusercontent.com/43444146/53524218-d68f1d00-3aac-11e9-93e5-5ee0997303eb.png)

[2019-02-28 16:49] CaseyRichards92 opened #488 "Tripal EUtils issues"
Link to get to EUtils https://hardwoods.ag.utk.edu/admin/tripal/loaders/eutils_ncbi_import
Link for documentation for EUtils https://tripal-eutils.readthedocs.io/en/latest/introduction.html

[2019-02-28 16:54] CaseyRichards92 commented on #488
Does not show analysis record, properties, or additional records fields so I could not view the metadata and linked records that will be inserted.

![image](https://user-images.githubusercontent.com/43444146/53583264-3938f500-3b4f-11e9-89c8-449b1a17f3d3.png)

Also, the publication linked to the home page of the HWG site. Is that supposed to link there?

[2019-02-28 16:58] bradfordcondon commented on #488
clarification- it does show those things if they are present: the NCBI project doesnt include linked records or additional metadata :P .   In the case of this project i think the SRA is the record that would help (we dont currently support SRA) https://www.ncbi.nlm.nih.gov/sra?LinkName=bioproject_sra_all&from_uid=429376

However you can see that hte project itself just doesnt have a lot of info, a

[2019-02-28 17:10] CaseyRichards92 commented on #479
Bioproject published using Tripal EUtils tool https://hardwoods.ag.utk.edu/project/2919509?tripal_pane=group_summary_tripalpane

[2019-02-28 20:40] mestato opened #489 "QTL map for Q. robur"
This QTL map could be added to MapViewer and should share markers with the very dense Q. robur map (Bodenes et al).

https://link.springer.com/article/10.1007%2Fs11295-018-1309-2

[2019-03-01 14:48] MattHuff commented on #447
It looks like the peptide files were loaded as mRNA sequences:

https://www.hardwoodgenomics.org/feature/Juct_18549.t1?tripal_pane=group_sequence_tripalpane

This caused issues for our Automated Annotation files, because we ran `blastn` - a nucleotide-to-nucleotide alignment - and there are protein sequences present in the database:

[code]

[2019-03-01 18:33] almasaeed2010 commented on #447
all features have been deleted from the live server. The job is running here: https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/709992

Once the above job completes, @patricksis can re-add the features along with their annotations.

Thanks!

[2019-03-01 19:50] mestato opened #490 "BLASt missing database"
### Bug description
BLASTP with a nucleotide sequence against Q. robur peptides gives error:

Existing BLAST Database was chosen. BLAST database '/var/www/html/sites/default/files/bdb/quercus_robur/Qrob_PM1N_CDS_aa_20161004.fa ' is unaccessible. Please contact the site administrator.

### Location

*  Go to '...'
*  Click on '....'
*  Scroll down to '....'

### Screenshots

### Additional info

[2019-03-01 20:00] CaseyRichards92 commented on #328
## Live site ##
Organism https://www.hardwoodgenomics.org/organism/Cinnamomum/micranthum
Publication https://www.hardwoodgenomics.org/Publication/2843417
Reference genome https://www.hardwoodgenomics.org/Genome-assembly/2843418
CDS Loader https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/722436
Protein loader https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/733576
Publis

[2019-03-03 22:25] bradfordcondon commented on #33
Hey @almasaeed2010 I'm running into this issue migrating i5k.  Don't you think it merits a tripal core issue?  Did we ever find a better solution than just deleting the field and manually adding hte descriptions back?  or perhaps just a note in the migration documentation?

[2019-03-04 12:17] almasaeed2010 commented on #33
We created new description fields that attached directly to CHADO columns instead of some public schema table and manually migrated content. I am pretty sure we could write a script that copies the content of the old fields and places them in a new text field but I don't think it's needed unless you are migrating hundreds of fields.

Maybe we could also ask Stephen and Shawna if they've encountere

[2019-03-04 12:48] almasaeed2010 commented on #490
Found the issue finally. If you look closely, the file path contained a space at the end after `fa`. Once the space is removed, everything worked properly.

We should create an issue in the tripal blast repo but for the time being. I'll use a hook to make sure the value is trimmed.

[2019-03-04 12:51] almasaeed2010 commented on #490
Issue submitted https://github.com/tripal/tripal_blast/issues/58

[2019-03-04 13:03] almasaeed2010 commented on #490
PR for fix submitted tripal/tripal_blast#59

Fix applied on live. We can close to this issue in favor for the one on the tripal_blast repo.

Thanks!

[2019-03-04 13:03] #490 closed, assigned to nobody

[2019-03-04 13:22] almasaeed2010 commented on #468
Looks done. Thanks @RaymondS1

[2019-03-04 13:22] #468 closed, assigned to RaymondS1

[2019-03-04 14:05] bradfordcondon commented on #33
in my case the data IS in the chado.description column, but hte field wont let me set the filter type.  very weird.

[2019-03-04 14:06] bradfordcondon commented on #486
FAIRsharing.org: HWG; Hardwood Genomics Project; DOI: https://doi.org/10.25504/FAIRsharing.srgkaf; Last edited: Jan. 8, 2019, 1:24 p.m.; Last accessed: Mar 04 2019 2:06 p.m.

[2019-03-04 15:08] mestato opened #491 "BLAST report not loading"
BLAST are taking a long time to run and reports are not loading. see for example
https://www.hardwoodgenomics.org/blast/report/fPjVoPsAjVo

This latter one may be due to a very long input sequence. If that is the case, lets cap the acceptable input sequence length.

If slow down is due to other jobs are running on the server, can we prioritize BLAST jobs (or Galaxy)?

[2019-03-04 15:10] bradfordcondon commented on #491
Throwing out this issue which may or may not be related:

https://github.com/tripal/tripal_blast/issues/12

[2019-03-04 15:11] almasaeed2010 commented on #491
The tripal jobs api does not give us a way to prioritize this but we can always hack a way to do this.

I looked at the last blast job that was ran today and it didn't take that long:

[code]

So the job itself might not take long to run but we need to find a way to make sure that blast jobs run in parallel but not other jobs.

[2019-03-04 15:12] mestato opened #492 "BLAST tool - improve user interface to find what they need"
BLAST tool interface is not very good. Problems:

When selecting a nucleotide database, we offer a number of types of databases:
- mRNA nucleotides
- gene nucleotides
- whole genome contigs, scaffolds or chromosomes

None of these are labeled very well. You have to click on the drop down and then look at the information in parentheses to get an idea of what you are searching. Let's fix this, we ca

[2019-03-04 15:13] almasaeed2010 commented on #491
There are instances where [a job](https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/710116) is taking more than a few days:

[code]

What could be the issue here?

[2019-03-04 15:15] bradfordcondon commented on #491
@almasaeed2010 look at the query file `/tmp/2019Mar01_154121_query.fasta`.  is it huge?  If a user submitted say thousands of sequences it could indeed take that long

[2019-03-04 15:16] almasaeed2010 commented on #491
it's tmp so it was probably deleted.

EDIT:

found it `212K	/tmp/2019Mar01_154121_query.fasta`

[2019-03-04 15:17] almasaeed2010 commented on #491
so it is relatively large compared to our test sequences

[2019-03-04 15:18] mestato commented on #492
Update on loading the above link: "Secure Connection Failed"
<img width="948" alt="screen shot 2019-03-04 at 10 17 42 am" src="https://user-images.githubusercontent.com/508122/53742523-cee1c680-3e66-11e9-9e61-67e752282eb0.png">

[2019-03-04 15:18] bradfordcondon commented on #491
212k isnt big enough to account for the run length

[2019-03-04 15:20] CaseyRichards92 opened #493 "DEG ozone analysis"

[2019-03-04 15:25] almasaeed2010 commented on #492
@mestato is this is the link you mean? https://www.hardwoodgenomics.org/blast/report/fPjVoPsAjVo

I tried accessing the URL from 3 different browsers (including FF) and it worked fine for me. an SSL trace shows that our certificate is still valid. (see here for trace: https://www.ssllabs.com/ssltest/analyze.html?d=hardwoodgenomics.org)

I wonder if it's a specific browser version?

[2019-03-04 15:29] mestato opened #494 "BLAST - improve user interface for results"
A number of improvements are possible here:

- Be able to see query from result page instead the name of a file created by the blast module *
- If there isn't a definition line for the query... just show "user query"? **
<img width="1121" alt="screen shot 2019-03-04 at 10 21 12 am" src="https://user-images.githubusercontent.com/508122/53743206-42380800-3e68-11e9-921d-8b6f9080d825.png">

- If you c

[2019-03-04 15:33] mestato commented on #492
No, it was a BLAST result with a query named lcl_contig0000566.

https://www.hardwoodgenomics.org/blast/report/fPjVoPPyt

I got the secure connection error twice. Maybe the results had a already been deleted but the links back were still available.

[2019-03-04 15:47] almasaeed2010 commented on #492
Ok I get a 500 error on this page:

<img width="705" alt="screen shot 2019-03-04 at 10 40 14 am" src="https://user-images.githubusercontent.com/1512664/53743958-ea9a9c00-3e69-11e9-9963-3f540a03500f.png">

and here is the issue:

[code]

[2019-03-04 16:05] mestato commented on #304
On live site, there are no downloads or description for reference genome analysis (https://www.hardwoodgenomics.org/Genome-assembly/2365975?tripal_pane=group_details)

Also, the record on dev doesn't appear to be working (https://hardwoods.ag.utk.edu/Genome-assembly/2209455 reference genome)

[2019-03-04 16:09] almasaeed2010 commented on #493
Here is why you were getting an error:

[code]

We should report this to [Tripal Galaxy](https://github.com/tripal/tripal_galaxy).

[2019-03-04 16:10] mestato commented on #304
It looks like there are a number of versions available for this genome: V1, V2 and PM1N (http://www.oakgenome.fr/?page_id=587). We need to check that we are loading version PM1N and make sure this is clear on the analysis page. It would be good for version 1  and 2 to be available for download only.

[2019-03-04 16:53] almasaeed2010 commented on #493
I edited the entry to fix this manually. Not sure what caused it but I updated the module and it was well behind so let's hope that fixes it:

https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/537935

[2019-03-04 17:13] #493 closed, assigned to cricha59

[2019-03-04 17:30] almasaeed2010 commented on #492
The issue with this is that the generated XML is more than 300MB

[code]

I am not sure if there is a way to tweak the blast program to limit the results to a manageable size.

[2019-03-04 19:19] almasaeed2010 commented on #340
Looks like the polypeptides were loaded incorrectly in that it was indicated that this polypeptide is "part of" the mrna instead of "derived from." Therefore, we need to reload the peptides but the good news is that we don't have to reload anything else. @patricksis please talk to me about this when you are here.

[code]

Note that the subject and object are flipped (5141731 should be the subject)

[2019-03-04 19:24] MattHuff commented on #304
@mestato, where did you get the link for the record on dev? Abdullah and I aren't sure where this error is occuring.

@adevine4, can you verify which version of the Oak genome you used?

[2019-03-04 19:36] MattHuff commented on #47
@RaymondS1 What's the progress on this organism?

[2019-03-04 20:28] mestato commented on #304
I got the link from this issue, see above Amanda, Oct 17th

[2019-03-04 20:46] MattHuff commented on #304
Try https://hardwoods.ag.utk.edu/Genome-assembly/2335725 for the record on the dev site. When I go to the organism and click on the reference genome, that's what works for me.

[2019-03-04 20:49] mestato commented on #304
Yep, that works for me. And looks like the live site page. Still needs downloads or description for reference genome analysis and publication. A good example to look at is the kiwi genome analysis: https://www.hardwoodgenomics.org/Genome-assembly/2243625?tripal_pane=group_summary_tripalpane

[2019-03-05 15:48] MattHuff commented on #483
IPS is done; what is the status on sprot and trembl? I want to have this done by the end of the week. Has anyone run BLAST on the last 680 files?

[2019-03-05 15:53] almasaeed2010 opened #495 "Upgrade To Tripal 3.1"
Upgrade the live site to tripal 3.1

[2019-03-05 17:30] almasaeed2010 commented on #48
The polypeptide got uploaded instead of mRNA here so we need to delete the features and start over

[2019-03-05 17:35] almasaeed2010 commented on #48
@adevine4 you can start uploading the mRNA and polypeptides for Olea again.

[2019-03-06 15:24] adevine4 commented on #48
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/719079 trembl xml

[2019-03-06 15:24] adevine4 commented on #304
downloads https://hardwoodgenomics.org/Genome-assembly/2365975

[2019-03-06 15:43] adevine4 commented on #48
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/719121 pep fasta
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/719117 cds fasta

[2019-03-06 16:25] adevine4 commented on #48
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/719154 published content
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/719158 ips xml loader
https://hardwoodgenomics.org/admin/tripal/tripal_jobs blast trembl xml loader

[2019-03-06 17:40] patricksis commented on #447
Live:
cds upload:
https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/719160
Peptides upload:
https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/719161
Published mRNA:
https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/719641
Trembl xml loader:
https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/719645
Swissprot xml loader:
https://www.hardwoodgenomics

[2019-03-06 17:59] almasaeed2010 commented on #495
done

[2019-03-06 17:59] #495 closed, assigned to almasaeed2010

[2019-03-06 18:00] patricksis commented on #340
Peptides re-upload:
https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/719162

[2019-03-06 18:05] patricksis commented on #483
I'll do the last 680 (2721-3400)

[2019-03-06 18:23] mestato commented on #304
A few additional todos:
- [ ] link the publication to the analysis
- [ ] KEGG Xray (the expandable/collapsible tree) doesn't seem to be populated
- [ ] add jbrowse

And for @almasaeed2010:
- at the gene level (ie https://www.hardwoodgenomics.org/feature/Qrob_P0542810.2?tripal_pane=gp_schema__publication49321), can we not show panes with no reuslts? cross references, location on map, publication, s

[2019-03-06 18:32] mestato opened #496 "KEGG results not displayed on feature page"
### Feature request
KEGG terms are being associated with a feature and working in CV Xray but are not available through the feature page.

[2019-03-06 18:34] almasaeed2010 commented on #496
I can see KEGG terms under the annotations tab in feature pages. Should they also appear elsewhere?

<img width="1337" alt="screen shot 2019-03-06 at 1 33 20 pm" src="https://user-images.githubusercontent.com/1512664/53904583-6f291e00-4014-11e9-8921-cb8ba3650b27.png">

[2019-03-06 18:44] almasaeed2010 commented on #458
We got approval to submit our dev tools to get rated so I am gonna try to get the following submitted:
- [Test Suite](https://github.com/tripal/TripalTestSuite.git)
- [Fields Generator](https://github.com/tripal/fields_generator)

[2019-03-06 18:51] mestato commented on #496
Okay, I see them now, I think they are only missing on Q robur. Mentioned in #304

[2019-03-06 18:51] #496 closed, assigned to almasaeed2010

[2019-03-06 19:15] mestato opened #497 "Table wrapping needs CSS love"
### Bug description
feature search results have column overlap issues:

<img width="790" alt="screen shot 2019-03-06 at 2 15 28 pm" src="https://user-images.githubusercontent.com/508122/53907023-51f74e00-401a-11e9-97d3-3ac81c9a8d72.png">

### Location

*  Go to '...'
*  Click on '....'
*  Scroll down to '....'

### Screenshots

### Additional info

[2019-03-06 19:18] mestato commented on #304
Specifically related to missing IPR term and description - see #438. So not a problem with Q robur only

[2019-03-06 19:27] almasaeed2010 commented on #304
Done

Issue submitted for a new feature request on https://github.com/tripal/tripal/issues/876

This should already be doable, we just gotta teach the undergrads how to do it. I believe we already do it to publications?

@cricha59 please talk to me about this so that we test it and add it to the wiki

Not sure if this is fully related but take a look at this: https://github.com/statonlab/hardwoods

[2019-03-06 19:34] mestato commented on #438
This is related to the db source. Some DB results are returned by IPS but they aren't actually part of the IPS database (no term id, no description). IE, all results from sources, Coils, TMHMM, Panther, will never have an ipr term or description. if you search those on the interpro site, it says "unintegrated" and links you to the source db. Results from sources such as pfam will have ips terms an

[2019-03-06 20:02] almasaeed2010 commented on #497
Added some JS to analyze the size of the text and respond to the size of the window to break text evenly across cells. In other words, done!

[2019-03-06 20:09] almasaeed2010 commented on #304
@mestato could you please elaborate on the dbxref thing. We add cross reference records in the analysis but where else should they be added?

[2019-03-06 20:26] mestato commented on #304
Yep. This may not be the greatest first use case, as the Oak data is housed in another community db. But for example, the gene Qrob_P0032420.2 has a lot of external information here: https://urgi.versailles.inra.fr/OakMine_PM1N/portal.do?externalids=Qrob_P0032420.2

A dbxref would be awesome. If we get data out of NCBI the link to genes should be more standardized and easier to consistently implem

[2019-03-06 21:11] CaseyRichards92 commented on #475
@mestato  refer to reminder from above

[2019-03-06 21:26] almasaeed2010 commented on #456
Does KEGG provide versions every time they update? If so, can we load each version in? Then run kegg on the new organisms only without losing any of the pre-annotated organisms?

[2019-03-06 21:32] bradfordcondon commented on #456
i dont think so, no.  I believe it will always be a "discover because it broke" situation.  Adding new terms would normally be no problem, except that the KEGG OBO breaks the newer tripal OBO loader and stephen wants a deeper fix.

Re-loading hte kegg ontology wont impact pre-annotated organisms.

[2019-03-06 21:33] jwest60 commented on #456
https://www.genome.jp/kegg/docs/upd_map.html

This is a history of updates for the pathway module, it looks like new terms are getting added once or twice a month

[2019-03-06 21:34] bradfordcondon commented on #456
awesome find!  is it just for pathway though or can we find one for all the subontologies...

[2019-03-06 21:36] jwest60 commented on #456
it looks like you can just browse through the tabs at the top of [this page](https://www.genome.jp/kegg/brite.html) and click the update history link on each module

[2019-03-06 21:42] almasaeed2010 commented on #497
Not fixed ... the js solution has messed up links

[2019-03-06 22:09] bradfordcondon opened #498 "tripalmap creates deadlink to tutorial link"
https://hardwoods.ag.utk.edu/mapviewer/3/LG6
<img width="727" alt="screen shot 2019-03-06 at 5 07 51 pm" src="https://user-images.githubusercontent.com/7063154/53917390-647d8180-4032-11e9-9d2c-d2d182db7c2a.png">

the "text tutorial" link is a deadlink to : https://hardwoods.ag.utk.edu/MapViewer_Manual
You can set the link via the admin area, however, theres no option for no-link.

so we want to ei

[2019-03-08 14:29] mestato opened #499 "Paging broken for biosamples"
### Bug description
When clicking on a page number on a biosamples page, it goes back to the summary pane.

### Location

*  Start at https://www.hardwoodgenomics.org/organism/Quercus/rubra?tripal_pane=gp_Biomaterials&page=0%2C6
*  Click on page 2
*  Now viewing summary page instead of page 2 of biosamples

### Screenshots

### Additional info

[2019-03-08 14:31] bradfordcondon commented on #499
works for me on chrome.  whats your browser and version?

also i m getting deja vu.  goign to dig for this issue...

[2019-03-08 14:31] bradfordcondon commented on #499
https://github.com/statonlab/hardwoods_site/issues/297

clearing your browser cache fixed it last time for you.

raises the point that if yorue having this problem others might too and what can we do about it

[2019-03-08 14:36] almasaeed2010 commented on #499
Why is it adding a comma in the url `page=2,1`. weird!

[2019-03-08 17:01] almasaeed2010 commented on #499
Managed to replicate this issue. You need to visit this page using this link for the error to happen: https://www.hardwoodgenomics.org/organism/Quercus/rubra

[2019-03-08 17:10] almasaeed2010 commented on #499
fixed on live

[2019-03-08 17:10] #499 closed, assigned to almasaeed2010

[2019-03-08 17:42] almasaeed2010 commented on #304
Created a temporary module for displaying publications on feature pages until the Tripal PMC votes on how to deal with it: https://github.com/statonlab/tripal_feature_pub

This module is deployed live. See this page for an example: https://www.hardwoodgenomics.org/feature/Qrob_P0729230.2?tripal_pane=gp_schema__publication49321

[2019-03-08 17:48] patricksis commented on #480
@almasaeed2010 The page hosting the peptide file is back up!
The original peptide file is located here:

```/var/www/html/sites/default/files/sequences/hazelnut/raw_files/C.avellana_transcriptome_Jefferson_ORFs_final.fasta```

[2019-03-08 18:05] almasaeed2010 commented on #497
ok now fixed

[2019-03-08 18:05] #497 closed, assigned to almasaeed2010

[2019-03-08 18:36] patricksis commented on #480
Re-upload:
cds fasta:
https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/542817
peptide:
https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/542818

[2019-03-08 18:47] almasaeed2010 commented on #480
Here is the error we get when loading the peptides:

[code]

I think the CDS file is malformed.

Here is what shows up when we `grep 471` in the CDS file.
[code]

Notice the first line where a sequence ends with the numbers!

Trying the same on the peptides file:

[code]

In the peptides file, we find the feature as expected.

[2019-03-11 13:49] mestato opened #500 "Fraxinus pennsylvanica genetic map"
https://www.biorxiv.org/content/10.1101/365676v1

The first genetic linkage map for Fraxinus pennsylvanica and syntenic relationships with four related species

[2019-03-12 13:25] almasaeed2010 commented on #437
I don't think we'll ever use this field because it would cause duplication of our data (up to 3 copies of each FASTA file!). Other than the fact that Tripal manages it's own upload system so what get's uploaded there can't be reused in the field. We usually use `scp` to transfer data from the ACF/StatonLab to the tripal site, which means we use the `path` option instead of upload anyway. It also l

[2019-03-12 13:25] #437 closed

[2019-03-12 13:28] #287 closed

[2019-03-12 14:32] almasaeed2010 commented on #423
Added to everything that had files.

[2019-03-12 17:56] adevine4 commented on #48
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/732797 blast swissprot xml loader

[2019-03-12 18:13] RaymondS1 commented on #47
There seems to be a duplication in the protein file for this organism
[code]

There is also only one CDS fasta header that matches  >Bpev01.c1007.g0004.m0001

[2019-03-12 19:06] RaymondS1 commented on #47
There is also only 108 out of 200 protein files parsed when I try to upload interpro unto the dev site. This might be related to the above issue.

[2019-03-12 19:20] MattHuff commented on #47
In looking at the file again, the repeating sequences all contain asterisks. Generally, asterisks in an amino acid Fasta file indicate where the protein sequence stops; we generally remove them, because InterProScan does not recognize them as valid IUPAC amino acid characters and will crash if the file contains one. This is the main source of the IPS error; it only produced 108 IPS files, instead

[2019-03-13 16:34] patricksis commented on #483
I believe all the files are done. A few files (3383-3400) have no data associated with it for both trembl and swissprot. This may be due to the issue related to Juglans Cathayensis.

[2019-03-13 16:52] patricksis commented on #483
It looks like we split the files two many times, so the last 17 files are empty regardless of any errors.

[2019-03-13 19:09] mestato commented on #494
The query column refers to the query (duh) not the result. If a user does not  provide a definition line, change "No definition line" to "User-provided sequence"

[2019-03-13 19:23] almasaeed2010 commented on #492
Try using [XML Stream Reader](http://php.net/manual/en/class.xmlreader.php) to limit mem usage

[2019-03-13 19:33] mestato commented on #198
Adjust by 10k on either side of flanking boundaries. (but don't go below 0)

[2019-03-14 11:52] almasaeed2010 commented on #494
It turns out `"No definition line"` is not part of the blast module. It looks like this is added by BLAST in the xml file. Our only option to change this is to do some JS search and replace after the results are rendered.

[2019-03-14 11:58] almasaeed2010 commented on #494
Fixed

<img width="1318" alt="Screen Shot 2019-03-14 at 7 58 43 AM" src="https://user-images.githubusercontent.com/1512664/54355268-00a91900-462f-11e9-8451-140e6a44be81.png">

[2019-03-14 11:58] #494 closed, assigned to almasaeed2010

[2019-03-14 14:03] almasaeed2010 commented on #464
@patricksis @cricha59 I am assigning both of you this task. Here is a list of the organisms you need to go though. Edit my post and add your name next the organism you want to tackle and add a checkmark to the ones you finished:

- [x] Actinidia chinensis - Patrick
- [x] Citrus sinensis - Patrick
- [x] Juglans spp. - Casey
- [x] Fagus sylvatica - Patrick
- [x] Handroanthus impetiginosus - Patrick

[2019-03-14 14:15] MattHuff commented on #47
Removed the 90 protein sequences with repeats; all proteins appeared exactly six times. I also removed a few trailing asterisks in the file. They are currently located in `/lustre/haven/gamma/staton/projects/undergrads/betula_pendula_prot_consistent_noRepeats.fasta`.

[2019-03-14 14:29] mestato commented on #47
Email sent to corresponding authors:
Good morning,

We have been attempting to upload the Betula pendula genome and annotation, described in your paper, to our database, https://www.hardwoodgenomics.org/. However, we have run into an issue with the protein file obtained from CoGe, labeled 35080-CDS-prot.fasta. Out of the 26061 total proteins, 90 of them appear with duplicated names, exactly six ti

[2019-03-14 14:33] mestato commented on #47
@RaymondS1

On the genome description page, beside the download link for the protein file (35080-CDS-prot.fasta), please add this text:

"This protein file obtained from CoGe represents 90 of the B. pendula CDS sequences with all 6 reading frames, appearing as six proteins with duplicated names. When loading the proteins into our database and performing functional annotation, we did not use these

[2019-03-14 15:05] patricksis opened #501 "Citrus sinensis genome"
### Publication and Data Information
https://www.nature.com/articles/ng.2472
### Additional Information
@mestato This organism was on the list in issue #464. No organism was ever created, but the reference genome was, located here: https://hardwoodgenomics.org/bio_data/1962952. Maybe we can complete this organism, I found the relevant files here: http://citrus.hzau.edu.cn/orange/download/index.php

[2019-03-14 15:49] patricksis commented on #464
@almasaeed2010 for Handroanthus impetiginosus, there was no genome file. I found it and added it to the server, but the download links on the website for that organism is in full HTML and I'm not sure how to add it in properly.

[2019-03-14 15:50] almasaeed2010 commented on #464
I'll add the link no worries.

**update:** Done.

[2019-03-14 16:06] bradfordcondon commented on #501
hi all, special note on this one- citrus sinensis is the Tripal "test" organism that one would load in the [Tripal tutorial](https://tripal.readthedocs.io/en/latest/user_guide/example_genomics.html).  Take care if theres pre-existing data, that it isn't from that.

[2019-03-14 16:43] almasaeed2010 commented on #501
Hello!

There is no data except for a `genome reference` which contains info about the publication but I am not sure if we wanted to host this organism to begin with.

[2019-03-14 17:10] almasaeed2010 opened #502 "Upgrade PHP 7.2 on live server"
This will cause some downtime

[2019-03-14 17:16] almasaeed2010 commented on #502
and we are back up 👍

I've also enabled OPCache. Let's see how much better this makes it.

[2019-03-14 19:50] CaseyRichards92 commented on #328
lcl files need to be removed from cds file so BLAST can run correctly. Fixed.

Check re ran blast files on ACF when complete. Fixed.

[2019-03-14 19:54] #51 closed

[2019-03-14 19:54] CaseyRichards92 commented on #51
Genome has been finished.

[2019-03-14 20:05] RaymondS1 commented on #481
Fastqc

[code]

[2019-03-14 20:34] jwest60 commented on #254
i cant find the genetic map file for this paper

[2019-03-14 20:43] CaseyRichards92 commented on #48
@adevine4 Downloads need to be added into the description for the reference genome. If you need help feel free to ask.

Here is the code you can copy and past after updating your file path and your files.
[code]
You dont have to include the entire file path. Just everything after sites. Refer to above.

The genome.fna file is currently located /var/www/html/sites/default/files/sequences called GCF

[2019-03-14 20:54] jwest60 commented on #444
im having difficulties finding the file containing the genetic map for this paper too

i look through all the xlsx files under the additional files header and it doesnt look like any of them contain map accessions

[2019-03-15 01:17] mestato commented on #254
Me neither. Email sent to corresponding author:

"I run the hardwood genomics website (https://hardwoodgenomics.org/), a web portal to provide open access tools for exploring tree genomes and transcriptomes. I am in the process of adding genetic maps to the site and would like to add your hazelnut map from the 2016 paper "Genetic mapping and QTL analysis in European hazelnut (Corylus avellana L.)"

[2019-03-15 01:22] mestato commented on #444
This map looks confusing. Lets skip it.

[2019-03-15 01:22] #444 closed

[2019-03-15 14:50] almasaeed2010 commented on #502
php 7.3 is out but support for it on both drupal and tripal is not great yet so I'll wait on upgrading to it.

[2019-03-15 14:50] #502 closed, assigned to almasaeed2010

[2019-03-15 16:57] patricksis commented on #464
So for both Populus genus, I can only find a cds file for Populus deltoides, nothing for Populus trichocarpa. The files might be in the links below, but you can only view them if you have an account.

trichocarpa:
https://phytozome.jgi.doe.gov/pz/portal.html#!info?alias=Org_Ptrichocarpa

deltoides:
https://phytozome.jgi.doe.gov/pz/portal.html#!info?alias=Org_PdeltoidesWV94_er

[2019-03-15 17:34] almasaeed2010 opened #503 "Using dbxref to link features to outside sources"
It has come up in https://github.com/statonlab/hardwoods_site/issues/304#issuecomment-470263001 that we might want to link to outside sources such as other community databases or NCBI directly from our gene pages.

I believe the way to do this is to add a field to the analysis (call it feature dbxref for now) that allows users to specify a database record to cross reference. The field will then cr

[2019-03-15 17:37] bradfordcondon commented on #503
does it make sense for the link to be stored in chado or not?  if yes, use dbxref, in which case, those fields should already exist.

If no, then the use the base drupal link module i think https://www.drupal.org/project/link

[2019-03-15 18:13] patricksis commented on #464
@mestato Would you like Populus trichocarpa updated? A few features are missing such as blast and ips annotations and when searching for mRNA- polypeptide, I can't seem to find any results for BLAST.

[2019-03-15 18:46] patricksis opened #504 "Populus trichocarpa Genome"
### Publication and Data Information
https://phytozome.jgi.doe.gov/pz/portal.html#!info?alias=Org_Ptrichocarpa
### Additional Information
This organism has been added to the site before, but it is missing some features so we may want to update it.
### Checklist
See [New Genome Documentation](https://github.com/mestato/statonlabprivate/wiki/How-to-load-a-new-organism-and-genome) for detailed instru

[2019-03-15 18:50] #501 closed, assigned to nobody

[2019-03-15 19:42] patricksis commented on #504
Dev site:
Fasta cds upload:
https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/544473
Fasta peptide upload:
https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/544483
Reg expression used:
```>(.*?).p```
Publication:
https://hardwoods.ag.utk.edu/Publication/2945582
Published tripal content:
https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/544486
Trembl xml results:
https://

[2019-03-18 17:19] RaymondS1 commented on #481
Trimming
[code]

[2019-03-18 17:29] RaymondS1 commented on #481
Fastqc_trimmed
[code]

[2019-03-18 17:42] RaymondS1 commented on #481
r_corrector
[code]
Trinity
[code]

[2019-03-19 13:20] mestato commented on #254
No response after 5 days, likely a lost cause. Closing.

[2019-03-19 13:20] #254 closed

[2019-03-19 16:41] almasaeed2010 opened #505 "Q. lobata and H. impetiginosus loaded Trembl as AGL"
If you visit [this page on the live site](https://hardwoodgenomics.org/feature/QlobV10scaffold115020000080-RA?tripal_pane=group_homology) you'll that it says

- BLAST of QlobV1.0_scaffold11502_0000080-RA vs. Swiss-Prot
- BLAST of QlobV1.0_scaffold11502_0000080-RA vs. AGL

Swiss-Prot is correct but AGL is not. We need to switch AGL to tremble.

Same issue with H. impetiginosus

[2019-03-21 19:29] RaymondS1 commented on #47
**Live Site**

https://hardwoodgenomics.org/organism/Betula/pendula
Organism

https://hardwoodgenomics.org/Publication/2986211
Publication

https://hardwoodgenomics.org/Genome-assembly/2986212?tripal_pane=group_details
Reference Genome

https://hardwoodgenomics.org/BLAST-annotation/2986213
SwissProt Annotation

https://hardwoodgenomics.org/BLAST-annotation/2986214
Trembl Annotation

https://hardwo

[2019-03-21 19:56] RaymondS1 commented on #47
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/776918
CDS upload

https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/776922
Protein upload

https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/776923
mRNA published

https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/776924
Swissprot upload

https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/776925
Trembl u

[2019-03-22 16:44] RaymondS1 commented on #47
When I uploaded the protein files that Meg sent to me, with the old cds file, I keep getting the error
`Cannot find a unique feature for the parent 'Bpev01.c5258.g0001.m0001' of type 'mRNA' for the feature.`
For a lot of the protein files. Matt thinks it is because the new protein file has genes that are not in the old CDS file. It can't find a parent because our mRNA file has no gene matching the

[2019-03-22 16:46] RaymondS1 commented on #47
@mestato
 We might need to obtain an updated cds file to go with the new protein files from the authors.

[2019-03-25 13:57] mestato commented on #47
email sent to author to request files

[2019-03-25 15:16] almasaeed2010 commented on #505
Every time I run the query to get this done, the query takes too long and the bash session gets interrupted. So far I ran this in a transaction so no harm done. I think the best way to do this is to write a little script to handle it and let nohup take care of running it.

[2019-03-26 16:33] almasaeed2010 commented on #505
A test script is available here https://github.com/statonlab/automated_annotation/blob/tmp-branch/automated_annotation.drush.inc

Currently running on dev. When done, this command will returning nothing:
[code]

[2019-03-27 13:24] mestato opened #506 "fagus sylvatica downloads broken"
### Bug description
From user:
we cannot download the Fagus sylvatica Reference Genome gff file and cds files. https://www.hardwoodgenomics.org/Genome-assembly/2365974.

Email zhangbja (zhangzhiyong543@163.com) when resolved

Can confirm two of four files, links are broken

### Location

*  Go to '...'
*  Click on '....'
*  Scroll down to '....'

### Screenshots

### Additional info

[2019-03-27 13:31] almasaeed2010 commented on #506
Fixed

[2019-03-27 19:18] mestato commented on #492
Front page when selecting a blastn program, update text (on page one time):
 "Search a nucleotide database "
to
"Search a nucleotide database (genome or transcripts) "

After selecting blastn:
Make it clear that there are scaffolds in addition to nucleotides. (They are too far down in list!) Make two lists???

[2019-03-27 19:20] mestato commented on #464
Yes please @patricksis , update P. trichocarpa

[2019-03-27 20:26] almasaeed2010 opened #507 "FF Issues with tripal map"
As expected, the ES6 code from the TripalMap module does not fully work on all browsers since it uses deprecated functions and experimental APIs. This issue was previously reported to the maintainers but was closed without fixing because "all new browsers support ES6". We might need to transpile down to ES5 using babel (see [RollupJS](https://rollupjs.org/guide/en)).

Issue appears on Quercus roub

[2019-03-28 13:27] almasaeed2010 commented on #485
@jwest60 the file is located at https://static-content.springer.com/esm/art%3A10.1007%2Fs11295-019-1318-9/MediaObjects/11295_2019_1318_MOESM1_ESM.xlsx

Can you try to format it into a csv that the cmap_loader can load?

Note that the position column has a `-` separating the start and stop so you are gonna need to split it.

[2019-03-28 14:47] almasaeed2010 commented on #492
@mestato would this work?

<img width="680" alt="Screen Shot 2019-03-28 at 10 45 59 AM" src="https://user-images.githubusercontent.com/1512664/55167113-c10e2100-5146-11e9-88fa-543d55fc62c3.png">

They are now separated by a title in the dropdown

[2019-03-28 15:07] mestato commented on #492
Yes, wonderful!

[2019-03-28 15:19] almasaeed2010 commented on #492
ok this is now live!

Thanks

[2019-03-28 15:19] #492 closed, assigned to almasaeed2010

[2019-03-28 17:42] almasaeed2010 commented on #507
Ok after hours of trial and error, the code (in many places) uses an undefined function `getBBox()`. Initially we thought this was only happeing on FireFox but it looks like it also happens in chrome except it's not a fatal error like in FF. To see the error on Chrome: https://hardwoods.ag.utk.edu/mapviewer/3/LG1

I submitted an issue on the main repo. Will address if we get a response.

[2019-03-28 17:43] almasaeed2010 commented on #506
@mestato did you email the person who was interested in this? If so, I guess we can close this.

[2019-03-28 18:37] mestato commented on #506
email sent

[2019-03-28 18:37] #506 closed, assigned to almasaeed2010, RaymondS1

[2019-03-28 19:28] almasaeed2010 commented on #505
fixed

[2019-03-28 19:28] #505 closed, assigned to almasaeed2010

[2019-03-29 14:30] mestato opened #508 "add best hit to summary pane for mRNA and gene"
### Feature description
User having problems finding annotation. Suggestion to put BLAST best hit on summary pane of organism with a link to open the BLAST pane. feasible?

<!-What do we want done?  Who should do it?  Is it urgent or backburner?  Please tag/assign issue appropriately.
-->
### Link to relevant info

[2019-04-01 11:55] almasaeed2010 opened #509 "Is it normal to have ~2 million blast annotations?"
As you can see below, everything but BLAST generates around ~200k annotations per organism (depending on how large the FASTA file is). However, BLAST generates way more than anything else (above 1 million for each DB!). Are all of these annotations needed? Can we limit to top/best hits?

<img width="1396" alt="Screen Shot 2019-04-01 at 7 51 19 AM" src="https://user-images.githubusercontent.com/151

[2019-04-01 12:18] bradfordcondon commented on #509
this is entirely dependent on the number of hits you output.  It's possible we'd be better off doing some post-processing on the blast hits, ie, filtering the results to just the top 5.  Limiting to n hits during the run doesnt limit it to the n *best* hits ofr some reason (dont have time to cross-link issue here but should be another ticket about that)

[2019-04-01 12:20] almasaeed2010 commented on #509
I wrote a script that would extract the top 25 from the blast file. We can probably use that to limit to top 5 instead. https://gist.github.com/almasaeed2010/702a7a79021be496bd6a5d79954395ea

[2019-04-01 12:54] almasaeed2010 commented on #483
Any progress on this?

[2019-04-01 13:37] MattHuff commented on #483
Currently copying all remaining files to the dev server. It's taking awhile, because there are so many files, and the Trembl xml outputs, in particular, take forever to fully finish. Do you think memory will be an issue for continuing this? I know one of our servers recently hit its memory limit, and I wasn't able to continue loading the XMLs until it was resolved.

I'll update this post once all

[2019-04-01 13:46] almasaeed2010 commented on #483
When the XMLs are ready, we can upgrade our storage to handle it. However, in the time being, let's keep everything on staton servers if possible.

[2019-04-02 17:43] RaymondS1 commented on #47
@mestato are there any updates from the authors?

[2019-04-02 21:15] mestato commented on #47
Nope, they said they would send the cds and gff3 but i never got the files. Lets go back to the original set of files and delete the protein duplicates.

[2019-04-02 21:36] mestato commented on #340
Looks like the gff is available through ncbi (https://www.ncbi.nlm.nih.gov/genome/?term=txid981085[Organism:noexp]). @patricksis could you grab it and add to downloads and use for JBrowse?

[2019-04-03 17:01] patricksis commented on #340
JBrowse instance:
 https://hardwoods.ag.utk.edu/admin/tripal/tripal_jobs/view/548611

[2019-04-03 19:58] MattHuff commented on #481
This data set has too many issues, let's close it for now.

[2019-04-04 13:06] almasaeed2010 commented on #507
Ok so it turns out the issue happens because the field is placed in a Tripal Pane. The quickest fix for this is to add a link to the map page(s) on the organism page. The other quick fix is to display the map on the summary pane. Otherwise, we'd need to figure out how to prevent it from drawing until the pane is shown.

[2019-04-04 16:22] almasaeed2010 commented on #470
this is no longer an issue. We simply don't print empty sequences anymore

[2019-04-04 16:22] #470 closed, assigned to almasaeed2010, MattHuff

[2019-04-04 16:22] almasaeed2010 commented on #423
I think this is done. If you encounter any issues, please open a new issue.

[2019-04-04 16:22] #423 closed

[2019-04-04 18:15] adevine4 commented on #304
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/745519 kegg

[2019-04-05 12:08] #232 closed

[2019-04-05 12:08] almasaeed2010 commented on #418
doesn't work for us.

[2019-04-05 12:08] #418 closed

[2019-04-05 12:21] almasaeed2010 commented on #433
This seems to be done. Thanks all!

[2019-04-05 12:21] #433 closed

[2019-04-05 12:22] #507 closed, assigned to almasaeed2010

[2019-04-05 12:25] almasaeed2010 commented on #486
@bradfordcondon should I add this to the site?

Sorry I haven't seen it earlier!

[2019-04-05 12:29] bradfordcondon commented on #486
🤷‍♂️ it was an idea but really its up to meg

[2019-04-05 12:30] almasaeed2010 commented on #486
Alright then we'll review next meeting

[2019-04-05 12:38] almasaeed2010 commented on #161
there is another issue for this #137

[2019-04-05 12:38] #161 closed

[2019-04-05 12:40] almasaeed2010 commented on #155
I think this is done? I don't see any pending PRs on core.

[2019-04-05 12:44] bradfordcondon commented on #155
it's happily loaded here on live: https://hardwoodgenomics.org/cv/lookup/TO

[2019-04-05 12:59] bradfordcondon commented on #155
https://www.ebi.ac.uk/ols/ontologies/to/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPATO_0000951

The term for purple is a root term on our site.
On EBI, its deep in the term tree.

This ontology is not loaded right.

[2019-04-05 13:31] almasaeed2010 commented on #260
@jwest60 the module is finally live. Can you take care of loading the data for Q. robur?

[2019-04-05 13:35] almasaeed2010 commented on #500
This is the only file the authors are sharing on that article. https://www.biorxiv.org/content/biorxiv/suppl/2018/07/09/365676.DC1/365676-1.pdf

The first table looks like a map to me. Can you test it our @jwest60 on the dev site?

Note it's a pdf so you might have to copy the content manually :(

Thanks!

[2019-04-05 17:27] jwest60 commented on #260
genetic map for q. rubra is now live

[2019-04-05 17:27] #260 closed

[2019-04-05 18:42] mestato opened #510 "jbrowse track label adjustment"
### Feature description
Its irritating that the jbrowse track label overlaps the glyphs.

<img width="834" alt="Screen Shot 2019-04-05 at 2 41 57 PM" src="https://user-images.githubusercontent.com/508122/55649451-ff43ba00-57b0-11e9-8c2e-33ecfe102bba.png">

Could we try this fix (trackLabels: no-block in param file):
https://github.com/GMOD/jbrowse/issues/490

### Link to relevant info

[2019-04-05 19:41] jwest60 commented on #485
what should i put for the `feature_type_accession`? in the map for q rubra, it was

the names of the loci for this map seem to differ though and im not sure if the rule is the same here

[2019-04-05 19:44] mestato commented on #485
They are all SSRs.

[2019-04-05 19:49] jwest60 commented on #485
thank you.

it also looks like some of the feature start and stop positions are not available

![image](https://user-images.githubusercontent.com/32902460/55652697-4bdfc300-57ba-11e9-98b7-598aaeefd81d.png)

how should these be handled?

[2019-04-05 19:56] mestato commented on #485
The columns you want are "LG" and "Position in Consensus".

[2019-04-05 20:26] jwest60 commented on #485
finished with the file, here's the link to the sheet if anyone wants to see it

https://docs.google.com/spreadsheets/d/1wP83Zb__Y7B9OXqGuFqQy1z8T9MWOw5NLVVKHt2YtQ4/edit?usp=sharing

gonna try to add the genetic map to dev

[2019-04-05 20:44] jwest60 commented on #485
created the map and ran the cmap loader on the file, result was a vague sql error

![image](https://user-images.githubusercontent.com/32902460/55655307-d4ae2d00-57c1-11e9-9d7c-92e05b132f7c.png)

not 100% sure where the error is coming from, gonna try to work it out on my dev site

[2019-04-05 21:02] jwest60 commented on #485
looks like there are a few places in the map where the location was written with a `,` instead of a `.`

![image](https://user-images.githubusercontent.com/32902460/55656323-82bad680-57c4-11e9-9f41-dd46fd719d5e.png)

fixed the file, gonna try to run again

[2019-04-05 21:09] mestato commented on #485
Oh yeah, Europeans often use commas where we use periods, it leads to a lot of confusion. I think you are safe to replace all the commas, nothing should be in the thousands of centimorgans.

[2019-04-05 21:14] jwest60 commented on #485
yeah but they only used commas for like 3 of the rows :thinking:

successfully loaded on dev

![image](https://user-images.githubusercontent.com/32902460/55656808-412b2b00-57c6-11e9-82cd-22134ea8e5fc.png)

[2019-04-08 17:10] bradfordcondon commented on #234
i have mapped the QTL mview.

![Screen Shot 2019-04-08 at 1 08 25 PM](https://user-images.githubusercontent.com/7063154/55743198-addd3a00-59ff-11e9-8c20-02905161480e.png)
![Screen Shot 2019-04-08 at 1 08 47 PM](https://user-images.githubusercontent.com/7063154/55743202-afa6fd80-59ff-11e9-90b0-113e172132a3.png)

QTLs do NOT show up as ranges on the map.

The start/stop is NOT in the mview.  we ther

[2019-04-10 11:21] almasaeed2010 commented on #510
This feature was introduced in jbrowse 1.12 but we use 1.11 so need to update first.

[2019-04-10 11:29] almasaeed2010 commented on #510
done

[2019-04-10 11:29] #510 closed, assigned to almasaeed2010

[2019-04-10 11:30] almasaeed2010 commented on #510
Labels now appear above the track.

<img width="621" alt="Screen Shot 2019-04-10 at 7 29 57 AM" src="https://user-images.githubusercontent.com/1512664/55875199-763ad300-5b62-11e9-9ce0-e23a693bdaf7.png">

[2019-04-10 12:30] almasaeed2010 commented on #469
The info for how to do this is on the Tripal documentation page and I think each module should have its own issue to address upgrades needed.

[2019-04-10 12:30] #469 closed, assigned to nobody

[2019-04-10 12:45] almasaeed2010 commented on #491
@mestato is it possible to get the input parameters used that caused this issue? I'd like to report this issue on the main repo but need to replicate it first.

[2019-04-10 13:31] almasaeed2010 commented on #472
Added live in summary table.

**Example feature** https://hardwoodgenomics.org/bio_data/1830155

@mestato please let me know if you'd like to change location of the field, add more info etc.

[2019-04-10 13:48] almasaeed2010 commented on #508
Would be helpful to simply rename the tab to `Homology (BLAST)` instead of only `Homology`? Otherwise, it's also easier to add a link to the summary table indicating that blast results are available, click here to open the tab.

[2019-04-10 13:51] almasaeed2010 commented on #503
This is harder than in looks. Since we always need a "token" that matches on both sites, we'd need to create some sort of form that allows us to specify how to extract the "token" (eg, feature.name) from the feature entity and where to place that token in the other site's URL. Tripal makes this possible for annotations only so we'd have to rebuild the ground up.

[2019-04-10 13:53] almasaeed2010 commented on #474
Is this issue related to either of these issues #483 or #470 ?

[2019-04-10 18:14] patricksis commented on #504
Live site:
Publication:
https://www.hardwoodgenomics.org/Publication/3012288
InterProScan annotation:
https://www.hardwoodgenomics.org/InterProScan-annotation/3012289
trembl annotation:
https://www.hardwoodgenomics.org/BLAST-annotation/3012290
swissprot annotation:
https://www.hardwoodgenomics.org/BLAST-annotation/3012291
Cds fasta loader:
https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/

[2019-04-10 18:17] almasaeed2010 commented on #473
Done on live.

**Example analysis**: https://hardwoodgenomics.org/Genome-assembly/2243625
Look for ontology browser in the summary table.

@mestato does this suffice?

[2019-04-10 20:51] mestato commented on #473
Yes. Lets change to "Gene Ontology" instead of just ontology and also add a KEGG link

[2019-04-10 21:55] mestato commented on #509
Solutions to try from meeting today:
- suck data out of table, trim extra hits, reupload
- look at trimming other xml fields we don't display

If those don't work/seem too time consuming, we can revisit Diamond to reannotate everything b/c we don't have xmls still.

[2019-04-10 21:56] mestato commented on #508
Yes, I think that's helpful for users. Also, after meeting with the user today, I misinterpreted the issue he was having finding annotation anyway.

[2019-04-10 21:57] mestato commented on #486
yes!

[2019-04-10 22:05] mestato commented on #472
Looks good, lets go with it

[2019-04-10 22:06] almasaeed2010 commented on #472
Done.

[2019-04-10 22:06] #472 closed, assigned to almasaeed2010

[2019-04-12 01:56] CaseyRichards92 commented on #474
@almasaeed2010 I think this issue was organisms that were never completely finished. I will look at each one and see what is actually missing and isnt

[2019-04-12 16:45] patricksis commented on #504
@almasaeed2010 I think we may be running low on memory? I got this error when uploading IPS results:
[code]

[2019-04-12 17:28] patricksis commented on #504
Blast data base:
Transcripts:
https://www.hardwoodgenomics.org/content/populus-trichocarpa-transcripts
Peptides:
https://www.hardwoodgenomics.org/content/populus-trichocarpa-peptides

[2019-04-12 19:44] CaseyRichards92 commented on #464
@almasaeed2010 all 6 juglans species have been finished. For regia and nigra I used the transcript file instead of a cds because there wasnt one. Looks to have worked. https://www.hardwoodgenomics.org/blast/report/fQKmPKmQ

[2019-04-15 10:59] almasaeed2010 commented on #464
Thanks @cricha59 and @patricksis for taking care of this.

Just to confirm, you added transcripts, peptides and scaffolds?

[2019-04-15 11:11] almasaeed2010 commented on #486
Added to footer so it's visible in all pages.

[2019-04-15 11:11] #486 closed, assigned to almasaeed2010

[2019-04-15 11:31] almasaeed2010 commented on #473
done

[2019-04-15 11:31] #473 closed, assigned to nobody

[2019-04-15 12:36] almasaeed2010 commented on #509
I think I finally know how to do this. The table below is an example of the content in chado.blast_hit_data. Since we have feature_id, analysis_id and eval, we can easily sort and keep only the top 5.

|analysis_id | feature_id | hit_best_eval |  hit_best_score | hit_pid |
|-----------|-----------|--------------|-----------------|-------|
|         278 |    7143870 |   8.52956e-90       |

[2019-04-15 12:45] mestato commented on #509
I like the idea of the loader handling it. There is already an admin feature that specifies how many hits to show to the user. Should it be a single check box -how many hits to parse out and show?

The column to sort on is hit_best_eval.

While getting the loader to handle the parsing is definitely a great solution for future loading, it won't fix the existing table and records, so that may need a

[2019-04-15 12:55] almasaeed2010 commented on #509
Oh I haven't seen that option before in the loader! If that actually works, then we probably have 25 best hists already. So all we need to do to is write a script to fix existing records to get 5 instead of 25. I am just not sure how the loader limits to top 25. i,e is it sorting by eval or just plucking the first 25.

[2019-04-15 13:05] patricksis commented on #464
@almasaeed2010 yes, besides Populus trichocarpa, which I'm working on, and Populus deltoides which I think needs to be updated anyways.

[2019-04-15 13:10] mestato commented on #509
Its in the loader admin page so that does make me think its filtering prior to loading.

https://www.hardwoodgenomics.org/admin/tripal/loaders/blast_loader

![Screen Shot 2019-04-15 at 9 08 33 AM](https://user-images.githubusercontent.com/508122/56135146-1b3c1e00-5f5e-11e9-8c29-c072dc947833.png)

If its already parsing extraneous hits and not storing them, then we might need to think more creative

[2019-04-15 13:10] almasaeed2010 commented on #509
Something a bit odd about the loader is that it stores the actual XML in the `analysisfeatureprop` table. Not sure why it would need that. There are `8,217,280` records in that table. Each record is 1 line of the xml file for a given pair of analysis and feature! And the funny thing is, the module never again looks at that table.

[2019-04-15 13:12] almasaeed2010 commented on #509
Also I looked at the code and it appears to be storing the first 25 rather than best 25.

[2019-04-15 13:13] mestato commented on #509
I think the Tripal field for blast results uses the XML to bulid the views of the BLAST results:

![Screen Shot 2019-04-15 at 9 11 28 AM](https://user-images.githubusercontent.com/508122/56135338-7f5ee200-5f5e-11e9-95ad-acb79558ea44.png)

![Screen Shot 2019-04-15 at 9 11 19 AM](https://user-images.githubusercontent.com/508122/56135353-8a197700-5f5e-11e9-95ee-a73f9b6817c6.png)

Where else would it

[2019-04-15 13:15] almasaeed2010 commented on #509
That info is in the blast_organisms and blast_hit_data tables. It doesn't read from `analysisfeatureprop` outside of the importer.

this is an example of the blast_organisms table:

[code]

[2019-04-15 13:23] almasaeed2010 commented on #509
Nevermind it does use the xml elsewhere it just initiates the blast importer as an object in the api which is unexpected since the importer should only be initiated and run by tripal itself.

[2019-04-15 13:32] almasaeed2010 opened #511 "Backup script for live database and files"
Now that we do work directly on live. We should develop an automated backup system for the external drives. DO doesn't provide auto backups for volumes yet so a small script is needed.

[2019-04-15 14:07] almasaeed2010 commented on #508
done

[2019-04-15 14:07] #508 closed, assigned to almasaeed2010

[2019-04-15 14:16] almasaeed2010 opened #512 "Blast hit data table is missing an index on analysis_id column"
For some reason, the blast_hit_data table does not have an index on analysis_id. Since we group, limit and search by analyses, we should add an index to speed things up.

[2019-04-15 14:25] almasaeed2010 commented on #512
done

[2019-04-15 14:25] #512 closed, assigned to almasaeed2010

[2019-04-15 14:28] almasaeed2010 commented on #488
I believe we decided not run eutils and hq on the live site. so closing.

[2019-04-15 14:28] #488 closed, assigned to nobody

[2019-04-15 14:29] almasaeed2010 commented on #498
we fixed this on our end to link to their site for now.

[2019-04-15 14:29] #498 closed, assigned to almasaeed2010

[2019-04-15 14:31] almasaeed2010 commented on #474
I don't think this is up to date. Instead of tracking info here, let's record progress for each organism in its own issue.

Thanks!

[2019-04-15 14:31] #474 closed, assigned to nobody

[2019-04-15 14:40] almasaeed2010 commented on #439
Should this be tripal_analysis_blast issue? I am not sure what **we** can do to fix this.

[2019-04-15 14:42] almasaeed2010 commented on #434
From what I can tell, I don't think this is possible.

[2019-04-15 14:42] #434 closed

[2019-04-15 14:45] bradfordcondon commented on #439
I believe its a HWG issue.  It's really about filtering the blast query/outputs.  tripal_blast nor blast has the means to know that the result actually is the query under a diffferent name.

[2019-04-15 15:03] almasaeed2010 commented on #234
And we are live!

[2019-04-15 15:03] #234 closed

[2019-04-15 15:04] almasaeed2010 commented on #234
Live and dev sites have been updated to use the new QTL mview

[2019-04-15 15:08] almasaeed2010 commented on #504
@patricksis could you retry loading IPS? I changed the setting to allow for more memory.

[2019-04-15 15:32] patricksis commented on #504
Thanks @almasaeed2010 that worked, It's strange though, it still shows an error on the job page, but  the job logs in terminal seems normal and the results show up on the website.

[2019-04-15 15:34] almasaeed2010 commented on #504
are you sure you are looking at the latest job page not the previous one?

[2019-04-15 15:35] almasaeed2010 commented on #504
Yeah the latest one shows an error: https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/750289 you are right. Something must've gone wrong in that case.

[2019-04-15 15:38] patricksis commented on #504
Here's the results for one feature:
https://www.hardwoodgenomics.org/feature/Potri001G0078001?tripal_pane=group_interpro
I'm not sure why results would show up if there was an error.

[2019-04-15 15:40] almasaeed2010 commented on #504
So what could’ve happened is that the transaction was committed even though the job failed. That would cause some of the results to exist and some not to. So for now I need to investigate the issue a little more. I'll probably ask you to rerun later.

[2019-04-15 15:51] #204 closed

[2019-04-15 16:02] almasaeed2010 opened #513 "Running the blast tool is pretty fast, do we need the tripal job?"
Currently people have to wait 1 full minute to get their results back because of how cron is designed. The job itself takes milliseconds to complete. Should we attempt to run it directly after the user hits the submit button? Ie, remove the code that adds it to a job?

[2019-04-15 16:53] almasaeed2010 commented on #155
Reloading seems to fix. This is it on dev after reloading. I'll do the same for live.

<img width="463" alt="Screen Shot 2019-04-15 at 12 52 40 PM" src="https://user-images.githubusercontent.com/1512664/56150697-6e719900-5f7d-11e9-8469-9c1af7b17dc2.png">

[2019-04-15 17:08] almasaeed2010 commented on #155
done

[2019-04-15 17:08] #155 closed

[2019-04-16 18:04] jwest60 commented on #485
[j_regia.cmap.gz](https://github.com/statonlab/hardwoods_site/files/3086265/j_regia.cmap.gz)

[2019-04-16 19:39] adevine4 commented on #48
https://hardwoodgenomics.org/KEGGresults/3032841 kegg annotation

[2019-04-16 21:10] mestato opened #514 "Chestnut update"
### Publication and Data Information
We have a new version of the Chinese chestnut genome (so not actually a new organism, just a new reference genome with new annotation and new features).

This reference genome has two versions (v3.2 and v4.1). We will upload features from version 3.2 but have downloadable files from both. I am still working with @MattHuff on getting 4.1 files, so lets start wit

[2019-04-16 21:15] mestato commented on #514
Downloadable files:
- [ ] Chestnut 3.2 CDS - nucleotide transcripts (one per gene)
- [ ] Chestnut 3.2 CDS - nucleotide transcripts (all)
- [ ] Chestnut 3.2 CDS - aa
- [ ] Chestnut 3.2 fasta file of contigs
- [ ] Chestnut 3.2 gff
- [ ] Chestnut 3.2 Excel of best BLAST Hits
- [ ] Chestnut 3.2 Excel file of old chestnut gene models assigned to new chestnut gene models

- [ ] Chestnut 4.1 CDS - nucleo

[2019-04-17 16:43] patricksis commented on #504
Scaffolds:
https://www.hardwoodgenomics.org/content/populus-trichocarpa-scaffolds
KEGG annotation:
https://www.hardwoodgenomics.org/KEGGresults/3032842
KEGG loader:
https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/751090

[2019-04-17 19:42] CaseyRichards92 commented on #514
### Live site ###
Reference Genome: https://www.hardwoodgenomics.org/Genome-assembly/3032843
Swissprot Annotation https://www.hardwoodgenomics.org/BLAST-annotation/3032847
TrEMBL Annotations https://www.hardwoodgenomics.org/BLAST-annotation/3032848
IPS Annotations https://www.hardwoodgenomics.org/InterProScan-annotation/3032849
KEGG Annotations https://www.hardwoodgenomics.org/KEGGresults/3032850

[2019-04-17 19:52] CaseyRichards92 commented on #514
Swissprot
[code]

[2019-04-17 19:58] CaseyRichards92 commented on #514
Trembl
[code]

[2019-04-17 20:28] CaseyRichards92 commented on #514
IPS
[code]

[2019-04-18 14:52] patricksis commented on #384
### Publication and Data Information
https://academic.oup.com/pcp/advance-article-abstract/doi/10.1093/pcp/pcy117/5077255?redirectedFrom=fulltext

http://bigd.big.ac.cn/search?dbId=gwh&q=PRJCA000669&page=1
### Additional Information

### Checklist
See [New Genome Documentation](https://github.com/mestato/statonlabprivate/wiki/How-to-load-a-new-organism-and-genome) for detailed instructions.
- [x]

[2019-04-18 15:25] patricksis commented on #384
Organism page:
https://www.hardwoodgenomics.org/organism/Vernicia/fordii
Publication:
https://www.hardwoodgenomics.org/Publication/3032845
InterProScan annotation:
https://www.hardwoodgenomics.org/InterProScan-annotation/3067192
Swissprot annotation:
https://www.hardwoodgenomics.org/BLAST-annotation/3067193
Trembl annotation:
https://www.hardwoodgenomics.org/BLAST-annotation/3067194
Fasta cds load

[2019-04-18 15:32] almasaeed2010 commented on #514
@mestato for this, should we clear the old feature records from chado before we add the new ones?

[2019-04-18 16:27] mestato commented on #514
Yes, but we need to add the old gene names as synonyms to the new gene names. so anyone searching for them can find the most up to date version. I'm working on this analysis now

[2019-04-18 17:31] adevine4 commented on #48
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/751490 kegg loader

[2019-04-18 19:32] RaymondS1 commented on #482
Fastqc
[code]

[2019-04-18 20:23] RaymondS1 commented on #482
Trimming
[code]

[2019-04-18 20:33] mestato opened #515 "second reference genome not showing up in reference genome field attached to organism"
### Bug description

When visiting the chinese chestnut organism page, on the tripal pane for reference genome (https://www.hardwoodgenomics.org/organism/Castanea/mollissima?tripal_pane=group_reference_genome), it only shows the old one. It should show the old and the new (https://www.hardwoodgenomics.org/Genome-assembly/3032843).

The new analysis also does not show up in the Analysis pane.

On t

[2019-04-19 15:36] mestato commented on #509
if its true that we are storing more than 5 BLAST hits per feature, I may have stumbled on a different way of trimming the blast hits to the best ones. blast_formatter: http://home.cc.umanitoba.ca/~psgendb/doc/NCBI/blast_formatter.txt

we woudl generate the blast hits in fmt 11, then convert to fmt 5 (xml) while filtering for 5 best hits.

[2019-04-19 16:34] mestato commented on #304
still need a jbrowse for PM1N

[2019-04-22 11:35] almasaeed2010 commented on #515
cache needed clearing. Both show up now.

[2019-04-22 11:35] #515 closed, assigned to almasaeed2010

[2019-04-22 11:36] almasaeed2010 commented on #511
We are running out of space on the backup disk on the live site. Let's try again with tar compression enabled.

[2019-04-22 11:38] almasaeed2010 commented on #511
we also need to make the disk larger since we need it for new jbrowse instances

[2019-04-22 11:54] almasaeed2010 commented on #515
To elaborate on this issue. Since the association between the organism and the analysis is done in the analysis page, the organism's cache must be cleared before it can detect the association.

[2019-04-22 11:56] almasaeed2010 commented on #511
Tar compressions can be done using the `-F t` flag when dumping the database using `pg_dump`.

[2019-04-24 17:03] patricksis commented on #384
@almasaeed2010 I'm trying to create a reference genome but it won't save and gives me this long error:```
Could not save the TripalEntity: Unable to write fields to Chado: Array ( [iao__version_number] => Array ( [0] => Array ( [value] => r240 ) ) [schema__name] => Array ( [0] => Array ( [value] => ernicia fordii - Reference Genome ) ) [schema__description] => Array ( ) [swo__software] => Array (

[2019-04-25 12:29] almasaeed2010 commented on #384
@patricksis I tested as much as I can to replicate the issue but couldn't. I think this is caused because the record hasn't really been deleted from the database when you deleted the page. I am gonna attempt to re-publish this genome assembly to see if the edit error happens again.

[2019-04-25 14:50] almasaeed2010 commented on #384
I added a temporary fix for this on live until we get this resolved. @patricksis can you make your edits?

[2019-04-25 14:55] patricksis commented on #384
I don't think I can. When i go to the old assembly page, the page is not found because I deleted it, and I still get the same error when creating a new one @almasaeed2010

[2019-04-25 14:55] almasaeed2010 commented on #384
https://hardwoodgenomics.org/Genome-assembly/3067202

[2019-04-25 14:58] patricksis commented on #384
Yes! that worked, thank you @almasaeed2010

[2019-04-30 11:50] almasaeed2010 commented on #511
We have moved the database data directory to the VM storage instead of a separate volumne. Therefore, our backups of the database are now automated by Digital Ocean.

[2019-04-30 11:50] #511 closed, assigned to almasaeed2010

[2019-04-30 11:51] almasaeed2010 commented on #513
The module doesn't allow for a way to run outside of a background job

[2019-04-30 11:51] #513 closed, assigned to nobody

[2019-05-01 20:12] mestato commented on #439
The hits do seem to be to different genes in the Uniprot DB. Closing.

[2019-05-01 20:12] #439 closed

[2019-05-01 20:33] mestato opened #516 "More walnut genomes from Ebrahimi at Purdue"
### Publication and Data Information
Contact: Aziz Ebrahini at Purdue
Awaiting:
- 12 fasta files of genomes
- 12 sets of genome annotation
- chloroplast and mitochondrial genomes

Not sure which species yet.

### Additional Information

### Checklist
See [New Genome Documentation](https://github.com/mestato/statonlabprivate/wiki/How-to-load-a-new-organism-and-genome) for detailed instructions.
- [

[2019-05-01 20:59] mestato opened #517 "Fix chestnut gene names in Jbrowse"
### Bug description
The gene names on Jbrowse (g12345) need to be changed to start with "Cm_" (Cm_g12345).

This impacts two tracks: "High quality gene models" and "Low quality gene models"

New gff file for high quality gene models on staton server:
/staton/projects/chestnut/psudochro/Castanea_mollissima_scaffolds_v3.2.HQ.gff

New gff file for low quality gene models on staton server:
/staton/pro

[2019-05-02 14:48] almasaeed2010 opened #518 "Go live with jbrowse management module"
Enabled tripal_jbrowse_mgmt module live.

@cricha59 please give it a try and let me know if you encounter any errors

[2019-05-02 15:36] CaseyRichards92 commented on #518
https://hardwoodgenomics.org/tools/jbrowse/?data=data%2Fhevea_brasiliensis___rubber_tree%2Fdata&tracks=&loc=NW_018745694.1%3A465613..4187497&highlight=

I do not see any tracks

[2019-05-02 16:56] patricksis commented on #384
KEGG annotation:
https://www.hardwoodgenomics.org/KEGGresults/3128099

[2019-05-02 18:47] mestato commented on #514
Update: hold off on making files downloadable until publication is out. Posted ft.lauderdale agreement to this effect in the description.

[2019-05-03 11:50] almasaeed2010 commented on #518
Seems to be working now 🎊

Documentation https://hardwoods-jbrowse.readthedocs.io/en/latest/

[2019-05-03 11:50] #518 closed, assigned to almasaeed2010, cricha59

[2019-05-03 17:35] #396 closed

[2019-05-03 17:39] patricksis commented on #384
Trembl xml loader:
https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/772405
Swissprot xml loader:
https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/772421
IPS xml loader:
https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/774562

[2019-05-05 16:49] mestato opened #519 "Multiple genome versions - GO and KEGG"
### Bug description
We have two different genome analyses and associated features w/ functional annotation loaded for C. mollissima (1.1 and 3.2). This should result in a drop down on the X-ray pane (GO and KEGG specifically) to select the genome analysis, but that isn't present. Instead results seem to be only from v1.1 features.

GO:
https://www.hardwoodgenomics.org/organism/Castanea/mollissima?

[2019-05-06 10:45] almasaeed2010 commented on #519
Before we dig too deep into this, I am gonna re-run the indexer to see if that helps. If it doesn't, it probably means that the functionality does not exist.

[2019-05-06 12:03] almasaeed2010 commented on #519
We might be able to get this done without having to change the indexing process by limiting results to a given analysis. We'd need to figure out how to extract unique analyses for an organism that we care about (ie interpro, go, kegg analyses only instead of all analyses).

We currently have the following info:
- Feature-Analysis association in `chado.analysisfeature`
- Entity ID in `tripal_cvterm

[2019-05-06 16:32] almasaeed2010 commented on #519
This is now available live for the browser. Unfortunately the listing page doesn't use the same functions to build the results table so we'll have to re-implement the solution for there as well.

[2019-05-06 17:13] almasaeed2010 commented on #519
Ok I think this is ready and live.

@mestato can you take a look when you get a chance?
https://www.hardwoodgenomics.org/organism/Castanea/mollissima?tripal_pane=group_kegg_browser

**Note** this organism (as of today) does not have GO terms loaded for the new 3.2/4.1 version but does have KEGG

[2019-05-06 18:05] mestato opened #520 ""No BLAST results found" for feature pane"
### Feature description
If a feature has no BLASt homology, then the BLAST pane doesn't show up. However, this is a bit confusing - its not clear that a BLAST was tried. I think we need a way to display "no homology found" (IE signaling to the user this is super suspecious or super unique) if the analysis was run on the feature but nothing identified. not sure if this would be at the loading level

[2019-05-06 18:07] almasaeed2010 commented on #520
Tripal allows us to specify (on a bundle level) whether we want to hide empty fields or display a message saying no content was found. However, doing this means it affects all fields and not only blast.

[2019-05-08 12:27] mestato opened #521 "genomes of pecan and Chinese hickory"
### Publication and Data Information
https://academic.oup.com/gigascience/article/8/5/giz036/5484800

### Additional Information

### Checklist
See [New Genome Documentation](https://github.com/mestato/statonlabprivate/wiki/How-to-load-a-new-organism-and-genome) for detailed instructions.
- [x] Create Organism
- [x] Create Publication
- [x] Create Reference Genome
- [x] Create InterProScan Annotat

[2019-05-08 18:56] patricksis commented on #521
I was looking through the GeneBank to find these organism, couldn't find them. Maybe I'm looking in the wrong directory @mestato
[ftp://ftp.ncbi.nlm.nih.gov/genomes/genbank/plant/](url)

[2019-05-08 19:25] mestato commented on #521
I was a reviewer of the paper so I know its available somewhere....
try this site:
http://gigadb.org/dataset/100571

[2019-05-08 19:30] patricksis commented on #521
Ah I should've checked Giga, thank you

[2019-05-09 16:21] patricksis commented on #384
BLAST data base:
transcripts:
https://www.hardwoodgenomics.org/content/vernicia-fordii-transcripts
peptides:
https://www.hardwoodgenomics.org/content/vernicia-fordii-peptides
KEGG job:
https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/774575

[2019-05-09 17:34] patricksis commented on #384
IPS results do not show up for some reason, @MattHuff and I looked into it and couldn't find any obvious issues.

[2019-05-09 19:00] patricksis commented on #462
No gff file found.

[2019-05-09 19:22] patricksis commented on #451
Could not find gff

[2019-05-09 19:30] patricksis commented on #298
Genome and gff are available for Jbrowse

[2019-05-09 19:34] patricksis commented on #264
Genome and gff are available for this organism and are on the server.

[2019-05-09 19:39] patricksis commented on #48
Hmm not sure if the genome file is available for Jbrowse
Scratch that, scaffolds file is available.

[2019-05-09 19:52] patricksis commented on #476
Jbrowse seems to not look right. It look like it might be a problem of the gff file because I don't see any annotations. @almasaeed2010
https://www.hardwoodgenomics.org/admin/tripal/extension/tripal_jbrowse/management/instances/5

[2019-05-10 11:33] almasaeed2010 commented on #476
I don't see anything wrong with this @patricksis

[2019-05-10 11:33] almasaeed2010 commented on #476
You might just need to clear your browser's cache

[2019-05-10 12:00] almasaeed2010 commented on #519
@mestato the issue we encountered in the entities list page has been fixed. It now takes into account the selected analysis.

<img width="1284" alt="Screen Shot 2019-05-10 at 7 43 59 AM" src="https://user-images.githubusercontent.com/1512664/57525563-136f5f80-72f9-11e9-947b-4411a06d936e.png">

[2019-05-10 12:00] #519 closed, assigned to almasaeed2010

[2019-05-10 16:46] patricksis commented on #504
Jbrowse track added:
https://www.hardwoodgenomics.org/admin/tripal/extension/tripal_jbrowse/management/instances/6

[2019-05-10 17:25] patricksis commented on #475
@almasaeed2010 I got this error message when trying to upload the gff file
```The file /var/www/html/sites/default/files/sequences/macadamia_integrifolia/maca.v1.1.gff could not be copied because a file by that name already exists in the destination directory.```
```Failed to copy file /var/www/html/sites/default/files/sequences/macadamia_integrifolia/maca.v1.1.gff to /data2/apollo/apache/macadami

[2019-05-10 17:28] almasaeed2010 commented on #475
I deleted the duplicate file. Please try again

[2019-05-10 17:34] patricksis commented on #475
Worked thanks, sadly I got a lot of errors when uploading it. We may have to wait on this one.
I'm just going to past them all for reference.

[2019-05-10 17:35] patricksis commented on #475
[code]

[2019-05-10 17:35] almasaeed2010 commented on #475
Are you sure you chose the correct gff? I think I saw a few there

[2019-05-10 17:38] almasaeed2010 commented on #475
try using this one for good measure GCA_900631585.1_Macadamia_Integrifolia_v2_genomic.gff

[2019-05-10 17:43] patricksis commented on #475
That one doesn't have the genes in it, we're trying to use the ones the author provided above.

[2019-05-10 17:49] patricksis commented on #475
One sec, we might of figured it out

[2019-05-10 18:05] patricksis commented on #475
So I had to copy the file into one of my directories to edit it, but I'm not getting the same error again, would mind deleting the duplicate file again? @almasaeed2010
```The file /var/www/html/sites/default/files/sequences/vernicia_fordii/maca.v1.1.gff could not be copied because a file by that name already exists in the destination directory.```
```Failed to copy file /var/www/html/sites/default

[2019-05-10 18:06] almasaeed2010 commented on #475
done

[2019-05-10 18:08] patricksis commented on #475
Okay thanks, got the same error again, Dr. Staton told me to slack her if it happened again. So I'm just going to move on to the next organism.

[2019-05-10 18:27] patricksis commented on #466
Jbrowse added:
https://www.hardwoodgenomics.org/admin/tripal/extension/tripal_jbrowse/management/instances/9

[2019-05-10 18:44] patricksis commented on #340
Jbrowse instance for live:
https://www.hardwoodgenomics.org/admin/tripal/extension/tripal_jbrowse/management/instances/10

[2019-05-10 18:54] patricksis commented on #328
Jbrowse instance:
https://www.hardwoodgenomics.org/admin/tripal/extension/tripal_jbrowse/management/instances/11

[2019-05-10 20:01] patricksis commented on #475
[code]

[2019-05-10 20:05] mestato commented on #475
Note on how to fix the AWFUL gff file:
1. Wrote a python script to fix all the names of all the features in the gff, fix_gff.py, in directory with gf f file.
2. Also need to change |size to -size using a regular expression (to make gff scaffold names match the scaffold names in maca.v1.1_scaffolds.fasta.

[2019-05-10 20:24] patricksis commented on #264
Jbrowse instance:
https://www.hardwoodgenomics.org/admin/tripal/extension/tripal_jbrowse/management/instances/15

[2019-05-15 13:16] mestato commented on #263
The data is available:
https://www.ncbi.nlm.nih.gov/sra/?term=SRX1880621

[2019-05-15 16:22] patricksis commented on #475
gff track is still not showing up on Jbrowse.

[2019-05-15 16:24] patricksis commented on #304
Jbrowse:
https://www.hardwoodgenomics.org/admin/tripal/extension/tripal_jbrowse/management/instances/12

gff track is not showing up.

[2019-05-15 16:26] patricksis commented on #340
gff track is not showing up here. I don't think the names from the genome and gff match up

[2019-05-15 16:28] patricksis commented on #466
gff track is not showing up for Jbrowse

[2019-05-15 16:41] patricksis commented on #384
Jbrowse:
https://www.hardwoodgenomics.org/admin/tripal/extension/tripal_jbrowse/management

[2019-05-15 16:49] mestato commented on #475
Suggestions to troubleshoot:
- Clear the cache for your browser
- Do the scaffold names from the fasta file match the scaffold names in the gff file?
- Are the track files in the expected location in the jbrowse folders? Does the data in those files match the scaffold fasta file and gff file you uploaded?
- Is the track listed in the .conf file for the organism? Does it look to be formatted correc

[2019-05-15 17:52] patricksis commented on #48
Scaffolds file is compressed incorrectly, I contacted the submitters letting them know.

[2019-05-15 18:04] patricksis commented on #475
@mestato. @almasaeed2010 and I tried all of your suggestions, but none of them worked

[2019-05-15 18:54] almasaeed2010 commented on #475
Redo with dashes instead of pipes

[2019-05-16 17:26] patricksis commented on #521
**Carya illinoinensis (Pecan)**
Organism:
https://www.hardwoodgenomics.org/organism/Carya/illinoinensis
Publication:
https://www.hardwoodgenomics.org/Publication/3156255
Reference Genome:
https://www.hardwoodgenomics.org/Genome-assembly/3156256
Interproscan annotation:
https://www.hardwoodgenomics.org/InterProScan-annotation/3156261
Swissprot annotation:
https://www.hardwoodgenomics.org/BLAST-anno

[2019-05-16 18:09] patricksis commented on #521
**Carya cathayensis (Chinese Hickory)**
Organism:
https://www.hardwoodgenomics.org/organism/Carya/cathayensis
Publication:
https://www.hardwoodgenomics.org/Publication/3156255
Reference Genome:
https://www.hardwoodgenomics.org/Genome-assembly/3156260
InterProScan annotation:
https://www.hardwoodgenomics.org/InterProScan-annotation/3156262
Swissprot annotation:
https://www.hardwoodgenomics.org/BLAS

[2019-05-16 19:07] patricksis commented on #521
@almasaeed2010 got this error when trying to create the second genome
```Could not save the TripalEntity: Unable to write fields to Chado: Array ( [schema__publication] => Array ( [0] => Array ( [value] => 41 [chado-analysis_pub__analysis_pub_id] => [chado-analysis_pub__analysis_id] => [chado-analysis_pub__pub_id] => 41 [pub_title] => The genomes of pecan and Chinese hickory provide insights into

[2019-05-16 19:08] almasaeed2010 commented on #521
Yeah they need to have a different version, program or type. The name alone doesn't count.

[2019-05-16 22:11] patricksis commented on #48
Non-corrupted files can be found here:http://denovo.cnag.cat/olive_data

[2019-05-22 14:02] patricksis commented on #475
Edited the file, would you mind deleted the instance @almasaeed2010 ?

[2019-05-22 15:50] patricksis commented on #445
Data for Populus tremula and Populus tremuloides can be found here: ftp://plantgenie.org/Data/PopGenIE/

[2019-05-23 12:57] almasaeed2010 commented on #475
I deleted it. I also added code to the module to auto delete these directories. From now on, we shouldn't need to delete the instance manually anymore.

[2019-05-23 18:41] mestato commented on #509
From here on, we will only keep top 5 hits in the database (not 25!)

[2019-05-23 18:41] #509 closed, assigned to almasaeed2010

[2019-05-23 18:43] mestato commented on #520
Lets move this over to the BLAST issue queue as a feature request.

[2019-05-23 18:45] mestato commented on #517
Instructions:
- use JBrowse provided scripts to remove old trakcs and add new tracks
- to link the feature to JBrowse, use the linker module (which is Tripal -> Extension -> Jbrowse link)

[2019-05-24 13:26] patricksis commented on #475
Jbrowse finally works!
https://www.hardwoodgenomics.org/admin/tripal/extension/tripal_jbrowse/management/instances/19

[2019-05-29 17:16] patricksis commented on #521
For both of these organism, IPS results aren't showing up.
Could someone take a look at this when they get a chance @mestato @almasaeed2010 ?

[2019-05-29 18:58] mestato opened #522 "JBrowse page - automate list"
### Feature description
The JBrowse page of all available JBrowse instances currently needs to be manually updated (https://www.hardwoodgenomics.org/content/jbrowse). Would be great to have it automated.

### Link to relevant info

[2019-05-30 15:08] almasaeed2010 opened #523 "Tripal Curator"
What will it take to get it to a releasable version?

[2019-06-03 21:42] mestato opened #524 "Chestnut feature page, BLAST pane not displaying visualization"
### Bug description
Blue bars on the diagram for blast results not being drawn. Position is -2 for some reason.

https://www.hardwoodgenomics.org/feature/Cm_g36795.t1?tripal_pane=group_homology

<img width="810" alt="Screen Shot 2019-06-03 at 5 40 57 PM" src="https://user-images.githubusercontent.com/508122/58836443-d9a72580-8626-11e9-823e-6cf2497d02c3.png">

This is a normal example for compariso

[2019-06-04 11:46] almasaeed2010 commented on #524
Updated the module. The graph shows up for me. Could you try again?

[2019-06-04 12:35] mestato commented on #524
Fixed for me!

[2019-06-04 12:35] #524 closed, assigned to nobody

[2019-06-04 12:43] mestato opened #525 "GO browser for Chinese chestnut v3.2 not working"
### Bug description
No genes are available linked to GO terms when version 3.2 is selected.

<img width="724" alt="Screen Shot 2019-06-04 at 8 42 16 AM" src="https://user-images.githubusercontent.com/508122/58879927-c20e8200-86a4-11e9-9ece-c24274971c48.png">

Works fine for v1.1.
<img width="514" alt="Screen Shot 2019-06-04 at 8 42 33 AM" src="https://user-images.githubusercontent.com/508122/58879

[2019-06-04 12:43] almasaeed2010 commented on #525
Most likely just needs reindexing. I'll rerun the indexer.

[2019-06-04 15:07] almasaeed2010 commented on #525
Reindexing finished but it's still not showing up.

[2019-06-04 15:22] almasaeed2010 commented on #525
Running the following query suggests that there are no GO terms associated with any of the features that are associated with this analysis.

[code]

Moreover, visiting mRNA pages also do not display any annotations. So, it looks like GO has not been loaded for these features.

If you try the KEGG ontology browser, it works as intended when you attempt switching between analyses since the organism

[2019-06-05 17:24] patricksis commented on #445
### Checklist
See [New Genome Documentation](https://github.com/mestato/statonlabprivate/wiki/How-to-load-a-new-organism-and-genome) for detailed instructions.
- [x] Create Organism
- [x] Create Publication
- [x] Create Reference Genome
- [x] Create InterProScan Annotation
- [x] Create BLAST Annotation
- [x] Run Chado FASTA Loader for CDS
- [x] Run Chado FASTA Loader for Polypeptides
- [x] Publish

[2019-06-06 16:14] patricksis commented on #445
### Populus tremula
Organism:
https://www.hardwoodgenomics.org/organism/Populus/tremula
Publication:
https://www.hardwoodgenomics.org/Publication/3220252
Reference Genome:
https://www.hardwoodgenomics.org/Genome-assembly/3220253
InterProScan annotation:
https://www.hardwoodgenomics.org/InterProScan-annotation/3220255
Swissprot annotation:
https://www.hardwoodgenomics.org/BLAST-annotation/3220257
T

[2019-06-06 16:14] patricksis commented on #445
### Populus tremuloides

Organism:
https://www.hardwoodgenomics.org/organism/Populus/tremuloides
Publication:
https://www.hardwoodgenomics.org/Publication/3220252
Reference Genome:
https://www.hardwoodgenomics.org/Genome-assembly/3220254
InterProScan annotation:
https://www.hardwoodgenomics.org/InterProScan-annotation/3220256
Swissprot annotation:
https://www.hardwoodgenomics.org/BLAST-annotation/

[2019-06-10 18:22] CaseyRichards92 commented on #477
- https://pubs.acs.org/doi/abs/10.1021/acs.jafc.7b00922 - No accession number.
- https://pubs.acs.org/doi/abs/10.1021/acs.jafc.6b04199 - No accession number.
- https://pubs.acs.org/doi/abs/10.1021/acs.jafc.8b05239 - PRJNA504494 w/ SRA data
- https://www.researchgate.net/profile/Ming_Zhi_Li/publication/325795857_Transcriptome_survey_reveals_candidate_genes_involved_in_lipid_metabolism_of_Carya_illi

[2019-06-11 14:04] mestato commented on #477
Sorry for the confusion, but we don't need this one anymore! The whole genome sequence has been released since I created this issue. See #521

[2019-06-11 14:04] #477 closed, assigned to cricha59

[2019-06-12 17:43] CaseyRichards92 commented on #516
@mestato Have you heard back from the author so we can begin on this organism?

[2019-06-12 19:04] CaseyRichards92 commented on #47
@mestato @RaymondS1 I have updated the publication to make it clickable, added a cross reference for ENA, and updated the pathways for CDS and protein downloads.

Note: The publication shows the link as clickable (https://hardwoodgenomics.org/Publication/2986211) but it still doesn't have the hyperlink on the Reference Genome (https://www.hardwoodgenomics.org/Genome-assembly/2986212) I think once

[2019-06-12 20:01] CaseyRichards92 commented on #479
Looking through the paper @MattHuff was able to find another publication https://link.springer.com/article/10.1007/s11103-014-0179-8 which had the SRR # for NCBI https://www.ncbi.nlm.nih.gov/sra/SRR947746/

[2019-06-13 16:55] CaseyRichards92 commented on #479
other Mango transcriptomes available:
https://www.ncbi.nlm.nih.gov/nuccore/884660947 - used this transcriptome
https://www.ncbi.nlm.nih.gov/nuccore/617883774
https://www.ncbi.nlm.nih.gov/nuccore/953817641
https://www.ncbi.nlm.nih.gov/nuccore/952955583

[2019-06-19 15:49] CaseyRichards92 commented on #479
Swissprot
[code]

[code]

[2019-06-19 15:52] CaseyRichards92 commented on #479
Genome Indexing
[code]

[2019-06-19 15:53] CaseyRichards92 commented on #479
STAR alignment
[code]

[2019-06-19 15:54] CaseyRichards92 commented on #479
Skewer Paired end
[code]

[2019-06-19 15:56] CaseyRichards92 commented on #479
FASTQC
[code]

[2019-06-19 15:59] CaseyRichards92 commented on #479
HTSEQ
[code]

[2019-06-19 16:48] CaseyRichards92 commented on #479
Trembl
[code]
[code]

[2019-06-19 18:45] mestato commented on #525
@cricha59 do you remember loading these?

[2019-06-19 18:50] mestato commented on #521
@almasaeed2010 needs to see the files, could you transfer them back over so he can take a look?

[2019-06-19 19:28] patricksis commented on #521
All IPS files for Carya illinoinensis and Carya cathayensis have been added back to hardwoods.
The paths are ```/var/www/html/sites/default/files/sequences/Carya_cathayensis/IPS/xmls```
and ```/var/www/html/sites/default/files/sequences/Carya_illinoinensis/IPS```

[2019-06-19 19:44] almasaeed2010 commented on #521
Thanks @patricksis I’ll look at them when I get a minute

[2019-06-19 21:40] CaseyRichards92 commented on #525
@mestato I do remember loading IPS but to be honest I could have skipped over the check box to load the GO terms. Would you like me to re-run IPS w/ the GO terms?

[2019-06-20 15:10] CaseyRichards92 commented on #525
IPS CHADO LOADER re-ran with GO terms.
https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/787565

[2019-06-20 15:23] CaseyRichards92 commented on #479
Transdecoder
[code]
Blast Refinement
[code]
Transdecoder RD2
[code]

[2019-06-20 15:30] almasaeed2010 commented on #525
New job https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/787569

[2019-06-20 15:47] almasaeed2010 commented on #525
New annotations are showing up https://www.hardwoodgenomics.org/feature/Cm_g24542.t2?tripal_pane=gp_sio__annotation14713

I'll run the indexer for the browser

[2019-06-20 17:15] CaseyRichards92 commented on #479
IPS
[code]

[2019-06-20 19:17] almasaeed2010 commented on #525
@cricha59 @mestato this has been fixed. Feel free to test and close the issue.

Thanks!

[2019-06-21 14:23] CaseyRichards92 commented on #479
## Live Site Upload ##
Organism created - https://www.hardwoodgenomics.org/organism/Mangifera/indica
Publication - https://www.hardwoodgenomics.org/Publication/3352346
Transcriptome - https://hardwoodgenomics.org/Transcriptome-assembly/3352347
IPS Annotation - https://www.hardwoodgenomics.org/InterProScan-annotation/3352348
Swissprot Annotation - https://www.hardwoodgenomics.org/BLAST-annotation/3

[2019-06-21 15:35] almasaeed2010 commented on #520
ok this may have been actually solved in the newest release without us realizing it. The link you shared now has a tab showing an empty chart. https://www.hardwoodgenomics.org/bio_data/3035466?tripal_pane=group_homology

Does that work?

[2019-06-21 15:37] mestato commented on #520
Yeah its ok (typos not withstanding).

[2019-06-21 15:37] #520 closed, assigned to almasaeed2010

[2019-06-21 16:36] almasaeed2010 commented on #522
@jwest60 can you do this?

You will need to look at the tripal_jbrowse_instance module and have it create a block or a page to list all the organisms that have JBrowse linked to them

[2019-06-25 15:04] #525 closed, assigned to nobody

[2019-06-26 15:13] CaseyRichards92 commented on #479
Received this error for the PEPTIDE FASTA LOADER job.

Cannot find a unique feature for the parent 'Gene.1::GBJO01000001.1::g.1::m.1 Gene.1::GBJO01000001.1::g.1  ORF type:complete len:128 (-) GBJO01000001.1:311-694(-)' of type 'mRNA' for the feature.

[2019-06-26 15:37] CaseyRichards92 commented on #479
Resolutions:
Ran sed for CDS: ```sed '/^>/ s/ .*//' GBJO01.1.fsa_nt.transdecoder.cds > GBJO01.1.fsa_nt.edit.cds```
Ran sed again for CDS to remove ": :" ```sed "s/::/./g" GBJO01.1.fsa_nt.edit.cds > GBJO01.1.fsa_nt.final.cds```
sed for PEP: ```sed '/^>/ s/ .*//' GBJO01.1.fsa_nt.pep > GBJO01.1.fsa_nt.edit.pep```
sed for edited PEP: ```sed "s/::/./g" GBJO01.1.fsa_nt.edit.pep > GBJO01.1.fsa_nt.final.p

[2019-06-27 19:23] RaymondS1 commented on #482
Organism
https://hardwoodgenomics.org/organism/Lagerstroemia/indica

Publication
https://hardwoodgenomics.org/Publication/3423189

Swissprot annotation
https://hardwoodgenomics.org/BLAST-annotation/3423191

Trembl annotation
https://hardwoodgenomics.org/BLAST-annotation/3423192

IntreProScan Annotation
https://hardwoodgenomics.org/InterProScan-annotation/3423193

KEGG Annotation
https://hardwoodge

[2019-06-27 19:56] RaymondS1 commented on #482
CDS upload
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/790035

Polypeptide upload
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/791263

Published
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/790040

Gff3 upload
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/790846

Swissprot upload
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/7920

[2019-06-28 16:20] mestato commented on #340
@mestato work on fasta and gff files, see server location: /var/www/html/sites/default/files/sequences/mulberry/raw_data

[2019-06-28 17:18] patricksis opened #526 "Biological Samples link is showing up on organism's pages"
### Bug description
Hey @almasaeed2010 the biological samples link is showing up on several new organisms, Populus tremula is one. No bio samples were ever loaded on the website for these organisms, not sure why its doing it now.
### Location

*  Go to Populus tremula organism page and you'll see it on the link section.

[2019-07-01 12:29] almasaeed2010 commented on #526
fixed.

[2019-07-01 12:29] #526 closed, assigned to almasaeed2010

[2019-07-01 12:38] almasaeed2010 commented on #521
Files look fine. I submitted a new job without using any regular expressions to test.

https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/790791

[2019-07-01 15:51] CaseyRichards92 commented on #264
@patricksis Here is what is missing from pomergranate. After this I would say you can close the issue.
- [x] Needs cross reference
- [x] Needs KEGG Annotation and KEGG loaded
- [ ] Jbrowse isnt working

[2019-07-01 17:08] CaseyRichards92 commented on #340
@patricksis Here is what this organism needs.
- [x] Cross reference added
- [x] KEGG job didnt work correctly. Issue: ```Unable to identify the feature for  'L484_001038.p01'```
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/516855
- [ ] JBrowse still having issues

[2019-07-01 17:17] CaseyRichards92 commented on #447
@patricksis
- [x] Needs cross reference added
- [x] KEGG issues. I see it was loaded but there are not any KEGG features associated w/ the organism when you search for them on the Live site. https://www.hardwoodgenomics.org/organism/Juglans/cathayensis?search_term=kegg&op=Search&is_es_gene_form=is_es_gene_form&organism=Juglans+cathayensis&tripal_pane=group_feature_search&form_build_id=form-ZPAa4Ax

[2019-07-01 17:33] patricksis commented on #340
@cricha59 this is a known issue with KEGG, we have an issue #456. KEGG does it for every organism I'm pretty sure.

[2019-07-01 17:35] CaseyRichards92 commented on #504
@patricksis
- [x] I dont think your BLAST swissprot or trembl loaded correctly https://www.hardwoodgenomics.org/feature/Potri001G2412501?tripal_pane=group_homology

[2019-07-01 17:49] patricksis commented on #264
So tracks show up only in a few places for JBrowse, this may be an issue or I could be their aren't too many features to annotate. Will bring up next meeting.

[2019-07-01 18:06] patricksis commented on #264
KEGG annotation:
https://www.hardwoodgenomics.org/KEGGresults/3471999
It looks to me that KEGG was already been loaded, just not the annotation.
https://www.hardwoodgenomics.org/organism/Punica/granatum?tripal_pane=group_kegg_browser

[2019-07-01 18:17] almasaeed2010 commented on #521
The job worked. Probably was a simple mistake in the form somewhere.

[2019-07-01 18:20] patricksis commented on #521
Thanks @almasaeed2010 I'll submit a new job for Carya illinoinensis

[2019-07-01 18:22] patricksis commented on #264
Cross reference has been added. I will close this issue after JBrowse has been resolved.

[2019-07-01 20:03] patricksis commented on #340
Cross references have been added, the only thing left for the organism is to fix JBrowse.

[2019-07-02 13:25] patricksis commented on #521
Carya illinoinensis redo IPS:
https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/791195

[2019-07-02 13:58] patricksis commented on #447
Cross references was added. Let's bring up the KEGG issue again at the next meeting. For now this organism should be done, but i'll leave it open until KEGG is resolved.

[2019-07-02 14:46] patricksis commented on #384
IPS results are showing up now, I used no regular expression. Might have been a simple mistake earlier.

[2019-07-02 15:07] patricksis commented on #480
I think I might have found a working file @almasaeed2010
[code]
I think this may have been the original file we used, but we may have edited it.

[2019-07-02 15:21] patricksis commented on #504
@cricha59
Really it looks fine on this one and a few others: https://www.hardwoodgenomics.org/feature/Potri001G0007002?tripal_pane=group_homology

[2019-07-02 15:27] almasaeed2010 commented on #504
The blast results that @cricha59 found are ok. An empty chart just means that we ran Blast for this feature but found no results (which is helpful info).

[2019-07-02 15:29] patricksis commented on #504
Yeah that's what I figured

[2019-07-02 16:45] CaseyRichards92 commented on #428
@almasaeed2010 did we ever figure out a way ahead with this?

[2019-07-02 16:47] almasaeed2010 commented on #428
I don't think so. It's a bit complicated honestly and might require that we change our way of loading data. Let's see what kind of data we want to extract from the GFF this Friday then take it from there.

[2019-07-02 17:13] patricksis commented on #475
@cricha59
This organism looks good, I think you're okay to close it.

[2019-07-02 17:15] #475 closed, assigned to cricha59

[2019-07-02 19:06] almasaeed2010 opened #527 "Warnings all over organism search pages"
The organism search page is cluttered with warnings:

[code]

Let's see if we can add the term.

[2019-07-02 19:25] almasaeed2010 commented on #527
fixed

[2019-07-02 19:25] #527 closed, assigned to almasaeed2010

[2019-07-03 11:16] almasaeed2010 commented on #522
Live now. Thanks @jwest60!

https://hardwoodgenomics.org/content/jbrowse

[2019-07-03 11:16] #522 closed, assigned to almasaeed2010, jwest60

[2019-07-03 17:03] CaseyRichards92 opened #528 "Pistacia vera transcriptom assembly"
### Publication and Data Information
Refer here for Pistacia transcriptome assembly. This issue will pertain only to the loading to the live site.
https://github.com/mestato/statonlabprivate/wiki/Pistacia-vera-transcriptom-assembly-(Hardwood)
### Additional Information
Short Read Archive (SRA) database accession number is: SSR: SRX1880621

The link is https://www.ncbi.nlm.nih.gov/sra/?term=SRX1880

[2019-07-03 17:19] CaseyRichards92 commented on #478
The authors for the genome and fasta we will be using: https://www.ncbi.nlm.nih.gov/bioproject/PRJNA253536

[2019-07-03 19:03] patricksis commented on #447
Yeah you're right @cricha59 there aren't any KEGG records for this organism...weird. Above comment still applies.

[2019-07-03 19:08] almasaeed2010 commented on #447
Odd issue happening to me when I try to access a feature page. I keep getting logged out when attempting to access an mRNA page for this organism. The issue does not happen on other organisms.

[2019-07-03 19:12] patricksis commented on #447
@almasaeed2010 Are you doing a mRNA- polypeptide Search?

[2019-07-03 19:13] almasaeed2010 commented on #447
I am using the Feature Search on the organism page but I'll try the mrna search

[2019-07-03 19:16] patricksis commented on #447
Gotcha. mRNA- polypeptide Search works fine for me. I tried using the features search on the organism's page, and it works fine for me.

[2019-07-05 17:01] CaseyRichards92 commented on #528
### Live Site ###
Organism created https://www.hardwoodgenomics.org/organism/Pistacia/Vera
Publication https://www.hardwoodgenomics.org/Publication/3472001
Transcriptome assembly https://www.hardwoodgenomics.org/Transcriptome-assembly/3472002?tripal_pane=group_summary_tripalpane w/ Downloads
Swissprot Annotation https://www.hardwoodgenomics.org/BLAST-annotation/3472003
Trembl Annotation https://ww

[2019-07-05 17:36] CaseyRichards92 opened #529 "Convert Mango Genome Assembly to Transcriptome Assembly"
Mango transcriptome needs reference genome changed to a transcriptome assembly #479

[2019-07-05 17:37] almasaeed2010 commented on #529
There is a good chance Alchemist can handle this but I need to test it on a new version of Tripal first before doing it on the live server

[2019-07-05 17:56] RaymondS1 commented on #481
There are many inconsistencies between the article, NCBI, and the fastq files

[2019-07-05 17:56] #481 closed, assigned to RaymondS1

[2019-07-05 17:58] RaymondS1 commented on #482
Sample feature
https://hardwoodgenomics.org/feature/TRINITY_DN799_c0_g1%3A%3ATRINITY_DN799_c0_g1_i1%3A%3Ag.369%3A%3Am.369?tripal_pane=group_summary_tripalpane

[2019-07-08 15:47] RaymondS1 opened #530 "Crepe_mytle genome needs to be changed to transcriptome"
### Bug description

### Location

*  Go to '...'
*  Click on '....'
*  Scroll down to '....'

### Screenshots

### Additional info

[2019-07-08 16:42] patricksis commented on #445
### Populus tremula
bdb (transcripts):
https://www.hardwoodgenomics.org/content/populus-tremula-transcripts
(Peptides):
https://www.hardwoodgenomics.org/content/populus-tremula-peptides
(Scaffolds):
https://www.hardwoodgenomics.org/content/populus-tremula-scaffolds

[2019-07-08 16:54] patricksis commented on #445
### Populus tremuloides
bdp (transcripts):
https://www.hardwoodgenomics.org/content/populus-tremuloides-transcripts
(peptides):
https://www.hardwoodgenomics.org/content/populus-tremuloides-peptides
(scaffolds):
https://www.hardwoodgenomics.org/content/populus-tremuloides-scaffolds

[2019-07-09 12:19] almasaeed2010 commented on #529
Done. New URL located at https://hardwoodgenomics.org/Transcriptome-assembly/3352347

[2019-07-09 12:19] #529 closed, assigned to almasaeed2010

[2019-07-09 12:20] almasaeed2010 commented on #530
Done. New URL at: https://hardwoodgenomics.org/Transcriptome-assembly/3423190

[2019-07-09 12:20] #530 closed, assigned to almasaeed2010

[2019-07-09 14:09] RaymondS1 commented on #50
https://www.ncbi.nlm.nih.gov/Traces/study/?acc=SRP100976
This can tell us what sample from "De novo transcriptome assembly and analysis of differential gene expression in response to drought in European beech" was from what day

The plant ID determines which ones are the control and which ones are the treated
The following samples are control samples: 14/16/21/36/13

These samples are the stressed

[2019-07-09 16:43] patricksis commented on #478
Trinity run:
[code]

[2019-07-09 18:08] patricksis commented on #466
@cricha59 This organism looks good, I'm going to go ahead and close it for you.

[2019-07-09 18:08] #466 closed, assigned to cricha59

[2019-07-09 18:51] patricksis commented on #462
@cricha59 No cross reference added. Other than that, I think this organism looks good.

[2019-07-09 18:58] #504 closed, assigned to patricksis

[2019-07-09 19:04] patricksis commented on #447
KEGG records are showing up know for some reason, maybe it was a cache thing. Closing issue.
<img width="532" alt="Screen Shot 2019-07-09 at 2 54 57 PM" src="https://user-images.githubusercontent.com/38140425/60915768-ac1f4e80-a25a-11e9-9680-dc0ea0d57766.png">

[2019-07-09 19:04] #447 closed

[2019-07-09 19:22] patricksis commented on #446
@cricha59 No cross reference and organism's picture

[2019-07-09 19:26] patricksis commented on #431
@cricha59 no cross reference

[2019-07-10 16:40] #462 closed

[2019-07-10 16:44] #431 closed

[2019-07-10 18:05] patricksis commented on #328
@cricha59
This organism is good to go

[2019-07-10 18:18] patricksis commented on #249
https://www.hardwoodgenomics.org/admin/tripal/extension/tripal_jbrowse/management/instances/2
^ This is the JBrowse instance Casey did a while back just putting it for continuity sake

[2019-07-10 18:18] patricksis commented on #249
@cricha59
Gotta add cross reference and then this organism is good to go.

[2019-07-10 18:35] patricksis commented on #304
This organism has 2 KEGG analysis associated with it. In addition, IPS results aren't showing up and trembl shows up for a few, but not most.

@almasaeed2010 could you add this to your list of things to do for KEGG. I am looking into the IPS. https://www.hardwoodgenomics.org/organism/Quercus/robur?tripal_pane=group_analyses

Most likely keep the KEGG from March and delete the one from December

[2019-07-10 18:48] patricksis commented on #48
Missing a few things here:

Organism's page
- [x] A brief description, not copied from Wikipedia
- [x] Cross reference

Reference Genome
- [x] A brief write-up describing the approach used to assemble the genome
            https://www.hardwoodgenomics.org/Genome-assembly/2702045
- [x] Download links
- [x] Publication
            https://www.hardwoodgenomics.org/Publication/3472007

- [ ] JBrowse

[2019-07-11 18:47] patricksis commented on #445
Populus tremula JBrowse:
https://www.hardwoodgenomics.org/admin/tripal/extension/tripal_jbrowse/management/instances/22

[2019-07-11 19:14] patricksis commented on #445
Populus tremuloides JBrowse instance:
https://www.hardwoodgenomics.org/admin/tripal/extension/tripal_jbrowse/management/instances/23

[2019-07-12 16:02] almasaeed2010 opened #531 "Move ES files to volume"
Currently ES files are on main drive. Move them elsewhere.

[2019-07-12 16:15] almasaeed2010 commented on #480
looks fixed to me 👍

Try reloading it.

[2019-07-12 16:20] almasaeed2010 opened #532 "Blast scaffolds shouldn't link to a feature"

[2019-07-12 17:44] #446 closed

[2019-07-12 17:45] #328 closed

[2019-07-12 17:52] #249 closed

[2019-07-12 17:55] CaseyRichards92 commented on #528
@almasaeed2010 as discussed in the meeting here is the swissprot error I am receiving https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/793726

[2019-07-12 17:55] almasaeed2010 commented on #528
looking into it

[2019-07-12 17:59] CaseyRichards92 commented on #528
@almasaeed2010 you might want to wait for @mestato to reply if Ahmed did the right transcriptome. We might have to restart it.

[2019-07-12 17:59] almasaeed2010 commented on #528
This is your error
[code]
this basically means that the names in your IPS files don't match the ones in the DB. It sounds like you didn't clean up the peptides files before running IPS.

We can wait for @mestato to confirm the files before rerunning though.

[2019-07-12 18:11] CaseyRichards92 commented on #528
@almasaeed2010 I checked with Meg and this transcriptome is good so we will be using this data

[2019-07-12 18:27] patricksis commented on #464
### Populus deltoides
(transcripts):
https://www.hardwoodgenomics.org/content/populus-deltoides-transcripts
(scaffolds):
https://www.hardwoodgenomics.org/content/populus-deltoides-scaffolds
(peptides):
https://www.hardwoodgenomics.org/content/populus-deltoides-peptides

Closing issue, all bdb on the list have been completed

[2019-07-12 18:27] #464 closed

[2019-07-15 17:00] almasaeed2010 commented on #531
done

[2019-07-15 17:00] #531 closed, assigned to almasaeed2010

[2019-07-15 17:28] RaymondS1 commented on #459
@mestato the first article is about populus deltoides

[2019-07-15 18:00] mestato commented on #459
Hmm, I don't know what that was. Lets just focus on the second article.

[2019-07-16 16:02] patricksis commented on #48
JBrowse instance:
https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/796949

[2019-07-16 16:29] patricksis commented on #48
JBrowse didn't work with ```Oe6.scaffolds.fa``` and ```OE6A.gff3```. There a a lot of .gff files on the server, so maybe one of them could work.

[2019-07-16 16:53] patricksis commented on #476
@RaymondS1 This organism looks good, Casey and I have been adding cross references to the organism page and you might want to create download links for the gff file and genome file, but otherwise everything looks good.

[2019-07-16 17:06] patricksis commented on #451
@RaymondS1 This organism is good to close, just add cross reference to organism page.

[2019-07-16 17:17] patricksis commented on #298
@RaymondS1

Add cross reference tho organism page and you are good to close

[2019-07-16 17:40] patricksis commented on #47
@RaymondS1
I don't see any IPS results loaded in. Other than that, this organism is completed, JBrowse would be nice, but we don't have any gff file.

[2019-07-16 19:01] RaymondS1 commented on #47
@almasaeed2010  this is the organism I asked you to look at a while back, can you look at the IPS upload and let me know what i need to fix?

[2019-07-16 20:02] #451 closed

[2019-07-16 20:09] RaymondS1 commented on #263
@cricha59 are you working on this organism?

[2019-07-17 11:30] almasaeed2010 commented on #47
I've assigned myself to look at this later today.

/remind me to check IPS files today at 1pm EST

[2019-07-17 15:48] RaymondS1 commented on #459
@mestato There is no SRA associated with the accession (PRJNA490658) in the 2nd article

[2019-07-17 16:07] almasaeed2010 commented on #528
/remind me to check Blast files today at 2PM EST

[2019-07-17 16:27] RaymondS1 commented on #50
Fastqc
[code]
Skewer
[code]
Indexing
[code]
Alignment (A variation of)
[code]
HTSeq
[code]

[2019-07-17 16:36] CaseyRichards92 commented on #304
@mestato Could you look at the organism description and let me know if this is what you want? Amanda put a lot of links, which isnt what we have been putting for this part of the description but I dont want to delete anything if she was told to put those there.
https://www.hardwoodgenomics.org/organism/Quercus/robur?tripal_pane=group_summary_tripalpane

[2019-07-17 16:50] patricksis commented on #478
Going to put all the code that was used in the pipeline so far:
[code]
^ This was done on the ACF and outputted fastqc files

[2019-07-17 16:51] patricksis commented on #478
[code]
This was also done on the ACF.

[2019-07-17 16:53] patricksis commented on #478
[code]
Last part that could realistically run on the ACF

[2019-07-17 16:55] CaseyRichards92 commented on #304
### Live Site ###
Description added to reference genome https://www.hardwoodgenomics.org/Genome-assembly/2365975
New KEGG Annotation https://www.hardwoodgenomics.org/KEGGresults/3500182
New KEGG job https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/800723

[2019-07-17 16:56] patricksis commented on #478
[code]
Trinity job, this process takes to long for ACF (more than one day), so all the files were moved to the Staton server and trinity was started.

[2019-07-17 17:25] almasaeed2010 commented on #47
It looks like you need a regex for the IPS

Try this `(.*?)\.m` and see what happens
Make sure to specify mRNA for the sequence type

[2019-07-17 17:29] almasaeed2010 commented on #528
Looks like the BLAST loader allows for a regular expression to extract the name. This makes our job slightly easier. Can you try loading swissprot with the following expression?

`(.*?)`

[2019-07-17 17:39] jwest60 commented on #523
just gonna post a list of functionality to test here for personal use

### cvterm utilization
- [x] prop tables show
- [x] cvterms show up
- [x] values for cvterm are correct

### property values
- [x] cvalue search by text value
- [ ] cvalue search by existing cvalue
- [x] cvalue search by no cvalue set

### property curations
- [x] cvterm lookup
- [x] props with cvterm as type display
- [x] prop

[2019-07-17 18:02] CaseyRichards92 commented on #528
Blast re-ran with reg-ex https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/800051
Re-ran BLAST w/ reg-exp ```^(.*?) T``` https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/800700

[2019-07-17 18:05] RaymondS1 commented on #47
IPS Upload
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/800055

[2019-07-18 15:27] patricksis commented on #480
Going to try and load this organism to the live site using a different cds file.

Organsim:
https://www.hardwoodgenomics.org/organism/Corylus/avellana
Publication:
https://www.hardwoodgenomics.org/Publication/3472009
Reference Genome:
https://www.hardwoodgenomics.org/Genome-assembly/3472010
InterProScan annotation:
https://www.hardwoodgenomics.org/InterProScan-annotation/3472011
SwissProt annotati

[2019-07-19 15:33] jwest60 commented on #523
this module seems to work pretty well, it shouldnt be too difficult to get it into a workable state

as far as i can see, the only things that need to be updated to get this module into a releasable version is the [cvalue search by existing cvalue is not working](https://github.com/statonlab/tripal_curator/issues/19) and the [property values table when no cvalue is set needs to be updated](https:/

[2019-07-19 15:47] CaseyRichards92 commented on #528
@almasaeed2010 the Reg-exp did not work for swissprot

[2019-07-19 16:03] almasaeed2010 commented on #528
try this expression `^(.*?) T`

[2019-07-19 16:18] patricksis commented on #521
@cricha59 Can you look at these two organisms when you get the chance? IPS results might not show up, if they don't just reload the cache.

[2019-07-19 17:36] almasaeed2010 commented on #528
@cricha59  I edited the files directly. There are now 2 sets of files. ones that have `.old` as an extension and ones that have `.xml`. If you rerun the job without any regular expressions, it should work.

[2019-07-19 18:32] almasaeed2010 commented on #528
Looks like the organism doesn't have features loaded. Try using the `.clean` CDS file to load the sequences then try reloading blast.

[2019-07-22 17:23] patricksis commented on #480
blast db (cds):
https://www.hardwoodgenomics.org/content/corylus-avellana-transcripts
blast db (peptides):
https://www.hardwoodgenomics.org/content/corylus-avellana-peptides

[2019-07-22 17:46] patricksis commented on #480
No Gene Ontology/KEGG browser on organism page

[2019-07-23 15:08] patricksis commented on #480
@almasaeed2010 Any reason that Gene Ontology/KEGG browser not showing up?

[2019-07-23 15:08] almasaeed2010 commented on #480
Probably needs reindexing. I'll run it now. May take a few hours though.

[2019-07-23 15:10] patricksis commented on #480
Thanks, It didn't look like any problem with cds/peptide files to me, so I wasn't too sure.

[2019-07-23 15:13] patricksis commented on #478
Skewer
[code]

[2019-07-23 17:33] RaymondS1 commented on #391
Link to the transciptomes https://www.ncbi.nlm.nih.gov/sra/?term=SRP158025

[2019-07-23 17:38] RaymondS1 commented on #391
Fastqc
[code]
Trimmomatuc
[code]
rcorrector
[code]
Trinity
[code]

[2019-07-24 15:35] almasaeed2010 opened #533 "KEGG namespacing"
https://github.com/tripal/tripal_analysis_kegg/issues/18

As discussed in the issue above. We'll need to fix the KEGG loader to add a namespace for the terms.

@jwest60 since you worked on the loader. Could you take a look at the issue and contact Bradford to give some guidance into what should be done?

Thanks!

[2019-07-25 15:52] patricksis commented on #480
JBrowse instance:
https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/807913

[2019-07-25 16:13] patricksis commented on #480
JBrowse link has also been added. This organism should just be about done.

[2019-07-25 17:16] patricksis commented on #480
blast db (scaffolds):
https://www.hardwoodgenomics.org/content/corylus-avellana-scaffolds

[2019-07-26 16:33] RaymondS1 commented on #459
not available at the accession number

[2019-07-26 16:33] #459 closed

[2019-07-26 16:34] RaymondS1 commented on #263
Duplicate issue

[2019-07-26 16:34] #263 closed

[2019-07-26 17:49] CaseyRichards92 commented on #479
Transcriptome description added https://www.hardwoodgenomics.org/Transcriptome-assembly/3352347?tripal_pane=group_description_download

[2019-07-26 17:52] patricksis commented on #478
We used the third paper, there are 8 SRRs associated with it, the eighth one we did not use. The samples came from the different stages of the mesocarp.

[2019-07-26 18:38] CaseyRichards92 commented on #479
JBrowse link added

[2019-07-26 18:58] patricksis commented on #478
STAR indexing
[code]

[2019-07-26 18:59] patricksis commented on #478
STAR alignment
[code]

[2019-07-29 17:09] patricksis commented on #478
Make gff3 file
[code]

[2019-07-29 17:12] patricksis commented on #478
HTSeq
[code]

[2019-07-30 18:04] RaymondS1 commented on #50
Biosample Upload
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/809141

Biosample Published
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/809142

Uploaded Biomaterial data sample
https://hardwoodgenomics.org/biologicalsample/3500217?tripal_pane=group_summary_tripalpane

[2019-07-31 16:34] CaseyRichards92 opened #534 "Organisms missing Jbrowse links"
These organism either do not have a link to Jbrowse or need Jbrowse done for them.
- [x] Acer saccharum - Transcriptome Assembly
- [x] Alnus rhombifolia - Transcriptome Assembly
- [x] Alnus rubra - Transcriptome Assembly
- [ ] Carya cathayensis - Patrick
- [ ] Carya illinoinensis - Error see below (Patrick)
- [x] Castenea crenata - Pretty sure this a transcriptome
- [x] Castanea dentata - Transcri

[2019-07-31 16:35] CaseyRichards92 commented on #534
@patricksis @RaymondS1 I added a list of all the organisms missing Jbrowse. I will start on mine and then move on to the others but if yall want to help with this just put your name next to the one you are doing and check the box when done.

[2019-07-31 17:12] CaseyRichards92 commented on #304
Jbrowse Link created https://www.hardwoodgenomics.org/organism/Quercus/robur?tripal_pane=group_jbrowse

[2019-07-31 17:43] CaseyRichards92 commented on #304
@almasaeed2010 Still no gff track https://www.hardwoodgenomics.org/tools/jbrowse/?data=data%2Fquercus_robur__pedunculate_oak%2Fdata&tracks=&loc=qrob_v2_scaffold_0018%3A779501..1352500&highlight=

I used ```Qrob_PM1N_CDS_nt_20161004.fa``` for the instance and ```Qrob_PM1N_genes_20161004.gff``` for the track

[2019-08-02 17:13] CaseyRichards92 commented on #528
New CDS FASTA w/ c.clean cds https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/809705

[2019-08-02 17:39] CaseyRichards92 commented on #528
New Blast Job with new xmls https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/809706

[2019-08-02 17:51] CaseyRichards92 commented on #528
New Peptide loader https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/809707

[2019-08-06 16:52] patricksis commented on #478
Transdecoder round 1
[code]

[2019-08-06 16:53] patricksis commented on #478
BLAST refinement
[code]

[2019-08-06 16:53] patricksis commented on #478
Transdecoder 2
[code]

[2019-08-06 17:47] patricksis commented on #478
Live site
Organism:
https://www.hardwoodgenomics.org/organism/Persea%20/americana
Publication:
https://www.hardwoodgenomics.org/Publication/3500235
Transcriptome:
https://www.hardwoodgenomics.org/Transcriptome-assembly/3500236?tripal_pane=group_summary_tripalpane
InterProScan annotation:
https://www.hardwoodgenomics.org/InterProScan-annotation/3500237
Trembl annotation:
https://www.hardwoodgenomic

[2019-08-07 17:17] almasaeed2010 commented on #528
We had to cancel the jobs for the CDS, Blast and Peptides because they deadlocked.

Technical note:
It looks like Tripal was unable to handle the large CDS file. Possibly because it's running in a transaction. We might have to look more into this before resubmitting the job.

[2019-08-08 19:41] RaymondS1 commented on #50
Biosamples published
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/809134

Fagus sylvatica Expression analysis
https://hardwoodgenomics.org/Analysis/3500240

Normalization Upload
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/809922

[2019-08-09 17:15] CaseyRichards92 commented on #528
Find a better Trinity assembly and collapse into a smaller size
 - Recommended using CAP3 or cd-hit-est
 - Read Methods and figure out which assembly was used and email authors

[2019-08-09 17:28] RaymondS1 commented on #482
Download files and link to the publication needed. More info needs to be clickable (link back to the publication). Make transcriptome clickable.

[2019-08-12 16:51] RaymondS1 commented on #391
Skewer
[code]

[2019-08-12 16:54] RaymondS1 commented on #391
Alignment
[code]
Indexing
[code]

[2019-08-12 16:54] patricksis commented on #478
Trembl
[code]

[2019-08-12 16:55] patricksis commented on #478
Swissprot
[code]

[2019-08-12 16:57] patricksis commented on #478
IPS
[code]

[2019-08-12 17:41] CaseyRichards92 commented on #304
gff works https://hardwoodgenomics.org/tools/jbrowse/?data=data%2Fquercus_robur__pedunculate_oak%2Fdata&tracks=pendulate_oak&loc=Qrob_H2.3_Sc0000885%3A1..143359&highlight=

Used ```Qrob_PM1N.fa``` for the instance instead

[2019-08-12 18:00] patricksis commented on #534
Loading the gff track for Carya illinoinensis resulted in this error:

[code]

[2019-08-12 18:19] CaseyRichards92 commented on #304
@RaymondS1 @patricksis Quercus robur is ready for inspection

[2019-08-14 17:14] patricksis commented on #478
Everything should be done for this organism.

[2019-08-15 15:31] CaseyRichards92 commented on #517
@almasaeed2010 is this issue as simple as deleting the old tracks and loading the new ones? then adding the links. If so I can start on this.

[2019-08-15 15:32] CaseyRichards92 commented on #528
Author emailed for their Trinity assembly

[2019-08-15 15:38] CaseyRichards92 commented on #430
@almasaeed2010 Have we figured out a way ahead with this?

[2019-08-15 15:40] almasaeed2010 commented on #430
I think we can simply create a new genome assembly then load this genome. Let's try that.

[2019-08-15 15:41] mestato commented on #47
Updates for this organism:

- [x] missing files for download (genome fasta (.fna) and annotation(GFF))
- [x] Format the downloads as two different sections - NCBI files and  what was obtained from the authors.
 - [x]  Description for what was obtained and what was done to those files should be associated with that section
- [x] link to ncbi genome record
- [x] link to paper - the title should be c

[2019-08-15 15:44] CaseyRichards92 commented on #430
Ill start on it. Sorry @RaymondS1  I'm stealing your old forgotten Genome.

[2019-08-15 15:50] CaseyRichards92 commented on #430
@almasaeed2010 There is already a genome for this. https://www.hardwoodgenomics.org/organism/Juglans/hindsii?tripal_pane=group_summary_tripalpane
Am I doing a transcriptome or genome?

[2019-08-15 15:53] almasaeed2010 commented on #430
That's the wrong organism @cricha59
This is the one you want https://www.hardwoodgenomics.org/organism/Juglans/nigra?tripal_pane=group_transcriptome

[2019-08-15 16:50] CaseyRichards92 commented on #430
Blast
[code]

[2019-08-15 16:58] CaseyRichards92 commented on #430
Trembl
[code]

[2019-08-15 17:48] CaseyRichards92 commented on #430
IPS
[code]

[2019-08-16 14:18] cricha59 commented on #430
Organism created https://www.hardwoodgenomics.org/bio_data/3553031

[2019-08-16 14:23] CaseyRichards92 commented on #430
Added to 6 juglans species reference genome https://www.hardwoodgenomics.org/Genome-assembly/2209433

[2019-08-16 14:53] CaseyRichards92 commented on #430
CDS FASTA Loader https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/811650

[2019-08-16 15:03] CaseyRichards92 commented on #430
Peptide FASTA Loader https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/811654

[2019-08-16 15:06] CaseyRichards92 commented on #430
Published mRNA-Polypeptide https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/811655

[2019-08-16 15:21] CaseyRichards92 commented on #430
BLAST Annotations
swissprot https://www.hardwoodgenomics.org/BLAST-annotation/3553032
trembl https://www.hardwoodgenomics.org/BLAST-annotation/3553033

[2019-08-16 15:44] CaseyRichards92 commented on #430
IPS Annotations https://www.hardwoodgenomics.org/InterProScan-annotation/3553034

[2019-08-19 16:18] CaseyRichards92 commented on #430
Swissprot Loader https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/819584

[2019-08-19 16:28] CaseyRichards92 commented on #430
IPS Loader https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/819583

[2019-08-19 16:37] RaymondS1 commented on #50
@almasaeed2010 The expression heatmap gives the error `There is no expression data available for the features you entered.`
I followed this wiki ``https://tripal-devseed.readthedocs.io/en/latest/loading_expression_data.html`` to upload it and used ``transcript`` for the sequence type.

The link to the normalization upload is up above.

[2019-08-19 16:40] almasaeed2010 commented on #50
This is the error that caused the failure. Unfortunately, tripal didn't report that an error happened 😞

[code]

[2019-08-19 16:51] CaseyRichards92 commented on #516
Making files downloadable for each of the species.

[2019-08-19 17:26] CaseyRichards92 commented on #430
Combining Junglans nigra genome organism with the Junglans nigra organism and specifying which is from the genome and which is from the transcriptome.

[2019-08-19 17:27] RaymondS1 commented on #50
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/812733
Normalization rerun

[2019-08-19 17:52] almasaeed2010 commented on #50
The files seem to have a different transcript name than the fasta files.

[code]

[2019-08-19 18:21] CaseyRichards92 commented on #430
New CDS loader https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/819574
New Peptide Loader https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/819578
New mrna-polypeptide published records https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/819579

[2019-08-20 17:44] MattHuff commented on #50
We figured out what was going on; STAR produces a GFF file containing only the information on where each scaffold begins and ends, and that was accidentally used instead of the correct GFF3 file. Ray is rerunning HTSeq using the correct GFF3 file, which contains the gene IDs.

[2019-08-22 13:28] RaymondS1 commented on #391
Swissprot
[code]

[2019-08-22 13:29] RaymondS1 commented on #391
Trembl
[code]

[2019-08-22 14:07] CaseyRichards92 commented on #430
KEGG Annotation https://www.hardwoodgenomics.org/KEGGresults/3613525

[2019-08-22 14:32] CaseyRichards92 commented on #430
Trembl split into 400 and re ran
[code]
201-400
[code]

[2019-08-22 14:36] cricha59 commented on #430
@almasaeed2010 published records mrna-polypeptide only published 245 out of 30,000. How do we resolve this? https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/812757

[2019-08-22 14:46] cricha59 commented on #430
Re ran mRNA-polypeptide records due to not all being published https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/813807

[2019-08-22 20:43] RaymondS1 commented on #50
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/813904
Normalization re-upload

[2019-08-23 14:38] RaymondS1 commented on #391
IPS
[code]

[2019-08-23 19:11] patricksis commented on #480
@cricha59 @RaymondS1 Can either of you go over this so I can close the issue.

[2019-08-26 14:26] CaseyRichards92 commented on #430
KEGG Loader https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/819586

[2019-08-26 18:51] patricksis commented on #478
@almasaeed2010 Wondering why KEGG panel isn't showing up on orgs page. Does it need reindexing? Also what does reindexing actually do?

[2019-08-26 18:59] almasaeed2010 commented on #478
It probably does need reindexing.

So the data that's needed to populate the ontology tree is spread around multiple tables in the database. This makes it very hard to find the data in realtime. Indexing goes through all the data and places it into a single table that the application can query directly. This makes the app much faster. Unfortunately, the index does not get populated automatically a

[2019-08-26 19:03] patricksis commented on #478
Ah I think I understand, thanks for the clear explanation. I'll add the to the guide.

[2019-08-26 19:14] patricksis commented on #478
Hmm I don't see anything called ```Tripal CV X-ray``` in ``` Tripal -> Extensions```. Could it be somewhere else?

[2019-08-26 19:15] almasaeed2010 commented on #478
Easy to miss but here is a link https://hardwoodgenomics.org/admin/tripal/extension/tripal_cv_xray

[2019-08-26 19:17] patricksis commented on #478
Ah is says I'm not authorized to access this page. That's probably why it wasn't in the admin menu for me.

[2019-08-26 19:20] almasaeed2010 commented on #478
Makes sense. The module doesn't seem to allow non-superusers to access the admin pages. I'll add an issue there.

[2019-08-27 14:08] CaseyRichards92 commented on #430
Trembl Loader https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/819585

[2019-08-27 20:01] CaseyRichards92 commented on #528
Moving forward with CAP3 or cd-hit-est.

[2019-08-27 20:18] RaymondS1 commented on #50
Write a regex that adds 01 at the end.

[2019-08-27 20:22] almasaeed2010 commented on #50
I have a solution that will add the 01 to each gene name using the matrix.php script. @RaymondS1 remind me to fix the script the next time you are working please.

[2019-08-27 21:26] RaymondS1 commented on #391
Organism
https://hardwoodgenomics.org/organism/Rhododenron/pulchrum

Publication
https://hardwoodgenomics.org/Publication/3641862

Transcriptome Assembly
https://hardwoodgenomics.org/Transcriptome-assembly/3641863?tripal_pane=gp_publication

Swissprot Annotation
https://hardwoodgenomics.org/BLAST-annotation/3641864

Trembl Annotation
https://hardwoodgenomics.org/BLAST-annotation/3641865

IPS Annot

[2019-08-29 20:11] RaymondS1 commented on #391
CDS Upload
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/822045

Polypeptide Upload
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/822046

Transcriptome Published
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/822047

KEGG Upload
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/823145

Swissprot Upload
https://hardwoodgenomics.org/admin/tripal/tripal_

[2019-08-29 21:08] RaymondS1 commented on #50
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/820426
Normalization re-run

[2019-08-30 14:17] CaseyRichards92 commented on #430
BLAST DB CDS https://www.hardwoodgenomics.org/content/juglans-nigra-genome-transcripts
BLAST DB PEPTIDES https://www.hardwoodgenomics.org/content/juglans-nigra-genome-peptides
BLAST DB Scaffolds https://www.hardwoodgenomics.org/content/juglans-nigra-genome-scaffolds

[2019-08-30 15:23] CaseyRichards92 commented on #430
Unable to obtain a GFF for JBrowse

[2019-08-30 16:33] CaseyRichards92 commented on #430
KEGG Loader has failed SQLSTATE[25P02]: In failed sql transaction: 7 ERROR:  current transaction is aborted, commands ignored until end of transaction block

[2019-08-30 16:49] almasaeed2010 commented on #430
Error fixed and job loader is running normally.

[2019-09-03 13:25] CaseyRichards92 commented on #516
@mestato is there a publication I need to link to the Ebrahimi Reference genome?

[2019-09-03 13:33] CaseyRichards92 commented on #516
Not able to save Reference Genome
[code]

@almasaeed2010 this could be because I am trying to add a 2nd reference genome to some of the Juglans species. Is this not possible? I need to add the ebrahimi downloads to this reference genome and associate to correct organism.

[2019-09-03 13:46] almasaeed2010 commented on #516
This error is very vague. Were there any other messages?

[2019-09-03 13:51] CaseyRichards92 commented on #516
Nope, I tried twice and got same error.

[2019-09-03 13:58] CaseyRichards92 commented on #516
Reference genome https://www.hardwoodgenomics.org/Genome-assembly/3641871?tripal_pane=group_summary_tripalpane

Error was program and pipeline must be different

[2019-09-03 14:19] CaseyRichards92 commented on #516
Need to create organisms to associate downloads from reference genome with.
- [x] J.ailantifolia
- [x] J.cinera
- [x] J.intermedia
- [x] J.major
- [x] J.mandshurica
- [x] Jxbixbi
- [x] Jxquadrangulata

[2019-09-03 19:53] CaseyRichards92 commented on #528
Use Trinity assembly for cd-hit-est

[2019-09-03 20:01] CaseyRichards92 commented on #430
Convert .gtf  to .gff for JBrowse. Also make downloadable.

[2019-09-03 20:02] almasaeed2010 commented on #430
docs for GTF conversion http://jbrowse.org/docs/faq_data_loading.html#how-do-i-convert-gtf-to-gff

[2019-09-03 20:41] RaymondS1 commented on #391
@almasaeed2010 Can you please go through and delete the uploaded CDS files

[2019-09-03 20:41] RaymondS1 commented on #391
/remind @almasaeed2010 to delete the uploaded files

[2019-09-03 20:46] RaymondS1 commented on #391
/remind @almasaeed2010 to delete the CDS files tommorrow

[2019-09-04 13:26] jwest60 commented on #533
hmmmm i read through the issue thread and im still not understanding what's needed. arent the terms already namespaced by the `KEGG:` prefix or were you referring to the comment where bradford said we could prefix the names of accessionless terms with `local:`?

[2019-09-04 15:05] jwest60 opened #535 "How do we display pvalues on feature pages?"
Now that we're ready to load and display pvalues on the live site, we need a place to display them. The original plan was to display them under the annotations tab, which unfortunately [has some issues](https://github.com/tripal/tripal/issues/992)

We will likely have to put this information under its own pane, but what should this pane be called?

[2019-09-06 19:00] patricksis commented on #241
Using two SRR files:
SRR1734725 - fully expanded leaves
        # of bases = 568.3M
        size = 367.8Mb
SRR1734724 - Mature ovules
        # of bases = 610.5M
        size = 392.8Mb

[2019-09-09 19:04] patricksis commented on #241
fastqc:
[code]

[2019-09-09 19:05] patricksis commented on #241
trimmomatic:
[code]

[2019-09-09 19:07] patricksis commented on #241
RCorrector:
[code]

[2019-09-09 19:44] patricksis commented on #241
trinity:
[code]

[2019-09-10 20:14] CaseyRichards92 commented on #516
Delete picture for quadrangulata, fix common names for both hybrids, and send email to Meg when finished.

[2019-09-12 21:59] CaseyRichards92 commented on #430
Recieved this error when running command ```/staton/software/cufflinks-2.2.1.Linux_x86_64/gffread -G -E juni.1_0.gtf -o- > juni.1_0.gff3```

[code]

"

[2019-09-13 10:04] almasaeed2010 commented on #391
@RaymondS1 you can delete the KEGG annotation that doesn't have annotations associated to it. If you don't know which one is wrong, you will need to delete both then reload KEGG.

[2019-09-13 10:06] almasaeed2010 commented on #482
Indexing started for ontology browser. The browsers should show up soon.

[2019-09-13 18:51] patricksis commented on #241
Skewer:
[code]

[2019-09-13 19:30] patricksis commented on #241
indexing:
[code]

[2019-09-13 19:40] patricksis commented on #241
Alignment:
[code]

[2019-09-16 14:52] CaseyRichards92 commented on #528
Followed cd-hit-est guide. To generate filtered FASTA.
http://www.bioinformatics.org/cd-hit/cd-hit-user-guide.pdf

```/staton/software/cd-hit-v4.6.6-2016-0711/cd-hit-est -i Trinity.fasta -o Trinity_cd.fasta -c 0.95 -n 8```

[2019-09-16 15:44] RaymondS1 commented on #391
@almasaeed2010 it is not allowing me to delete either of the annotations. It is giving me this error
```The website encountered an unexpected error. Please try again later.```
I am keeping ```Rhododendron pulchrum() - peptides KEGG```

[2019-09-16 15:50] almasaeed2010 commented on #391
Error fixed and annotation deleted.

[2019-09-16 15:54] RaymondS1 commented on #391
@almasaeed2010 thanks

[2019-09-16 18:41] patricksis commented on #241
HTseq:
[code]

[2019-09-16 19:16] patricksis commented on #241
blast refinement:
[code]

[2019-09-16 19:59] patricksis commented on #241
TransDecoder2:
[code]

[2019-09-16 20:15] patricksis commented on #241
Transcriptome assembled, no issues so far!

[2019-09-17 20:08] CaseyRichards92 commented on #528
Transdecoder
```/staton/software/TransDecoder-3.0.0/TransDecoder.LongOrfs -t /staton/projects/aelshaar/assembly/4_Trinity/Trinity_cd.fasta```

[2019-09-17 20:09] RaymondS1 commented on #391
Sample feature https://hardwoodgenomics.org/feature/TRINITY_DN15953_c3_g1.TRINITY_DN15953_c3_g1_i2.g.15560.m.15560

[2019-09-17 20:10] CaseyRichards92 commented on #528
Run blast then run max_target_seqs

https://gist.github.com/almasaeed2010/702a7a79021be496bd6a5d79954395ea

[2019-09-17 20:17] RaymondS1 commented on #50
* publish biosamples
* Reload

[2019-09-18 19:35] patricksis commented on #241
Organism Page:
https://www.hardwoodgenomics.org/organism/Ginkgo/biloba
Publication:
https://www.hardwoodgenomics.org/Publication/3732396
Transcriptome assembly:
https://www.hardwoodgenomics.org/Transcriptome-assembly/3732397?tripal_pane=group_summary_tripalpane
InterProScan annotation:
https://www.hardwoodgenomics.org/InterProScan-annotation/3732398
Swissprot annotation:
https://www.hardwoodgenomi

[2019-09-19 13:34] RaymondS1 commented on #391
upload raw data

[2019-09-19 13:36] RaymondS1 commented on #453
Author Correction to add the accession numbers:
https://www.nature.com/articles/s41438-019-0144-4

Accession
PRJNA529305

[2019-09-23 15:13] CaseyRichards92 commented on #528
Blast refinement
[code]

Transdecoder rd 2
[code]

[2019-09-23 15:18] RaymondS1 commented on #50
Expression Uploaded
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/825751

Edit: Upload error
[code]
@almasaeed2010

[2019-09-23 15:21] almasaeed2010 commented on #50
This is caused probably by permissions issues. @jwest60 since you developed the caching feature for expression files, could you take a look at the code to see what might be causing this? The error only show the file that is supposed to be cached but doesn't say where it is getting copied to. Try to find out where that folder is and let me know. I can attempt to fix the permissions from there.

[2019-09-23 15:26] CaseyRichards92 commented on #528
Recieve error:
[code]

[2019-09-23 15:27] CaseyRichards92 commented on #528
@almasaeed2010 any idea why transdecoder rd 2 didnt create a cds and pep files?

[2019-09-23 15:35] CaseyRichards92 commented on #528
@almasaeed2010 disregard. issue fixed.

UPDATED TRANSDECODER RD 2
[code]

[2019-09-23 15:53] jwest60 commented on #50
The files should be getting cached in `sites/default/files/expression`.

[2019-09-23 16:19] CaseyRichards92 commented on #528
BLAST
[code]

[code]

[2019-09-23 16:40] CaseyRichards92 commented on #528
Trembl
[code]
[code]

[2019-09-24 13:18] CaseyRichards92 commented on #528
Ran max target seqs for swissprot

https://gist.github.com/almasaeed2010/702a7a79021be496bd6a5d79954395ea

[2019-09-26 14:24] almasaeed2010 commented on #50
Expression shows up now.

https://hardwoodgenomics.org/bio_data/2476482?tripal_pane=group_expression

[2019-09-26 20:45] RaymondS1 commented on #453
Author does not provide the assembled genome for the plant

[2019-09-26 20:45] #453 closed

[2019-09-27 15:08] CaseyRichards92 commented on #528
Ran max target seqs for trembl. Same code as above for swissprot.
```nohup python max_target_seqs.py *.xml &```

[2019-09-27 15:28] CaseyRichards92 commented on #528
IPS

[code]

[2019-09-30 15:06] CaseyRichards92 commented on #528
New CDS FASTA LOADER https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/828377
New PEP FASTA LOADER https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/828379
New published polypeptides https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/828380
New BLAST Loader https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/828385

[2019-09-30 19:39] patricksis commented on #241
Swissprot:
[code]

[2019-10-01 13:27] mestato opened #536 "New Quercus lobata genome version"
### Publication and Data Information
Data:
* https://www.ncbi.nlm.nih.gov/genome/44710?genome_assembly_id=435334
* https://valleyoak.ucla.edu/genomic-resources/

### Additional Information
Need to have downloads for Versions 0.5, 1.0, 2.0 and 3.0. Need to update genome features to the new ones from v3.0. (Delete old ones).

I can currently only find the new v3.0 annotation as a GenBank file. I bel

[2019-10-01 18:24] mestato opened #537 "Oak gene expression atlas"
### Publication and Data Information
https://bmcgenomics.biomedcentral.com/articles/10.1186/s12864-015-1331-9

### Additional Information
Seems to have two species, possibly assembled as a single transcriptome. May have to create a hybrid organism to hold the data.

### Checklist
See [New Genome Documentation](https://github.com/mestato/statonlabprivate/wiki/How-to-load-a-new-organism-and-genome)

[2019-10-01 18:32] mestato opened #538 "Pomegranate gene expression"
### Publication and Data Information
Pomegranate genome paper includes expression data that could be put into db:
https://onlinelibrary.wiley.com/doi/full/10.1111/pbi.12875

### Additional Information

### Checklist
See [New Genome Documentation](https://github.com/mestato/statonlabprivate/wiki/How-to-load-a-new-organism-and-genome) for detailed instructions.
- [ ] Create Organism
- [ ] Create Pub

[2019-10-02 19:09] patricksis commented on #241
trembl:
[code]

[2019-10-02 19:16] patricksis commented on #241
IPS:
[code]

[2019-10-04 13:48] CaseyRichards92 commented on #528
New Trembl job https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/828672

[2019-10-04 14:07] CaseyRichards92 commented on #528
IPS Loader https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/828676

[2019-10-04 14:14] CaseyRichards92 commented on #528
KEGG Loader https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/828677

[2019-10-04 14:28] CaseyRichards92 commented on #528
BLAST DB CDS https://www.hardwoodgenomics.org/content/pistacia-vera-transcripts
BLAST DB PEP https://www.hardwoodgenomics.org/content/pistacia-vera-peptides

[2019-10-07 16:10] CaseyRichards92 opened #539 "Markdown is broken for transcriptome assemblies"
Description for transcriptome assemblies does not work if using markdown.

https://www.hardwoodgenomics.org/Transcriptome-assembly/3472002?tripal_pane=group_description_download

[2019-10-08 14:33] CaseyRichards92 commented on #528
@mestato I want to make sure I am accurately describing our methods for pistacio. Also, should I change "we" to be more specific to us or is it obvious? I have provided hyperlinks in the descriptions(refer to link).

https://www.hardwoodgenomics.org/Transcriptome-assembly/3472002?tripal_pane=group_description_download

"Due to size of Trinity Assembly we further processed the assembly using CD-HIT

[2019-10-08 19:13] RaymondS1 commented on #50
https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/830308
Biosample reupload

https://hardwoodgenomics.org/admin/tripal/tripal_jobs/view/831063
Expression reupload

[2019-10-10 21:24] RaymondS1 commented on #47
/remind me to check the uploaded files on monday 3pm EST

[2019-10-11 02:07] mestato opened #540 "Tree Peony Transcriptome"
### Publication and Data Information
https://www.nature.com/articles/s41438-019-0194-7

### Additional Information

### Checklist
See [New Genome Documentation](https://github.com/mestato/statonlabprivate/wiki/How-to-load-a-new-organism-and-genome) for detailed instructions.
- [ ] Create Organism
- [ ] Create Publication
- [ ] Create Reference Genome
- [ ] Create InterProScan Annotation
- [ ] Crea

[2019-10-14 17:01] RaymondS1 commented on #50
@cricha59 Can you look over this organism so i can go ahead and close it

[2019-10-21 16:49] RaymondS1 commented on #540
Accession #: SRS1180651,

[2019-10-21 18:16] RaymondS1 commented on #540
Fastqc
[code]

[2019-10-21 18:17] RaymondS1 commented on #540
Trimmomatic
[code]

[2019-10-21 18:47] patricksis commented on #241
bdb:
transcrips:
https://www.hardwoodgenomics.org/content/ginkgo-biloba-transcrips
peptides:
https://www.hardwoodgenomics.org/content/ginkgo-biloba-peptides

[2019-10-21 18:52] patricksis commented on #241
KEGG annotation:
https://www.hardwoodgenomics.org/KEGGresults/3890870?tripal_pane=gp_sio__annotation47730
KEGG loader:
https://www.hardwoodgenomics.org/admin/tripal/tripal_jobs/view/836053

[2019-10-21 19:27] RaymondS1 commented on #540
Rcorrector Paired
[code]

Recorrector Unpaired
[code]

[2019-10-22 14:01] CaseyRichards92 commented on #537
Data was obtained from pub. https://bmcgenomics.biomedcentral.com/articles/10.1186/1471-2164-11-650

Accession #: SRA012448

Leads to a project about a fruit fly and not quercus. May have been loaded incorrectly by author.

[2019-10-22 14:30] CaseyRichards92 commented on #537
Oak ( Quercus petraea and Q. robur ) cDNA libraries used for Sanger, 454 Roche and Illumina sequencing.

https://static-content.springer.com/esm/art%3A10.1186%2Fs12864-015-1331-9/MediaObjects/12864_2015_1331_MOESM1_ESM.xls

[2019-10-22 20:34] RaymondS1 commented on #540
Trinity
[code]

GFF
[code]

[2019-10-24 20:23] RaymondS1 commented on #540
Skewer
[code]

[2019-10-25 15:29] RaymondS1 commented on #540
Trinity
Indexing
[code]
Alignment
[code]

[2019-10-30 16:37] mestato opened #541 "Quercus lobata drought stress RNASeq"
### Publication and Data Information
https://onlinelibrary.wiley.com/doi/abs/10.1111/mec.15289

### Additional Information

### Checklist
See [New Genome Documentation](https://github.com/mestato/statonlabprivate/wiki/How-to-load-a-new-organism-and-genome) for detailed instructions.
- [ ] Create Organism
- [ ] Create Publication
- [ ] Create Reference Genome
- [ ] Create InterProScan Annotation
-

[2019-10-31 17:22] RaymondS1 commented on #540
Transdecoder 1
[code]

Blast Refinement
[code]

Transdecoder 2
[code]

[2019-11-04 18:28] RaymondS1 commented on #540
Swissprot
[code]

[2019-11-04 18:30] RaymondS1 commented on #540
Trembl

[code]

[2019-11-06 19:58] patricksis commented on #538
Authors have been contacted about obtaining gene expression data. Will comment again if we get a reply. If we don't get a reply, we may close the issue.

[2019-11-11 17:48] RaymondS1 commented on #540
[code]

[2019-11-12 20:57] RaymondS1 commented on #540
Email authors and ask assembly and the normalized gene expression values
``` We cannot seem to find expressions and assemblies and we cannot find them in the paper```

[2019-11-14 14:34] mestato opened #542 "Fagus sylvatica"
### Bug description
* No publication is associated with the analysis, this needs to be added
* the Biosamples need to be manually updated to indicate drought or control treatment

### Location

*  Go to '...'
*  Click on '....'
*  Scroll down to '....'

### Screenshots

### Additional info

[2019-11-14 22:28] RaymondS1 commented on #542
**Changed Samples**

* Sample_M-46-19.7_R1

* Sample_M-45-28.6_R1

* Sample_M-51-28.6_R1

* Sample_M-51-26.7_R1

* Sample_M-51-19.7_R1

* Sample_M-51-12.7_R1

* Sample_M-43-12.7_R1

* Sample_M-51-5.7_R1

* Sample_M-48-28.6_R1

* Sample_M-48-26.7_R1

* Sample_M-48-19.7_R1

* Sample_M-48-12.7_R1

* Sample_M-48-5.7_R1

* Sample_M-46-28.6_R1

* Sample_M-46-26.7_R1

* Sample_M-46-12.7_R1

* Sample_M-46

[2019-11-15 20:22] patricksis commented on #538
I'm closing this issue due to lack of response from authors.

[2019-11-15 20:22] #538 closed, assigned to patricksis

[2019-11-18 20:14] patricksis commented on #541
Data can be found here: https://datadryad.org/stash/dataset/doi:10.5068/D1HH31
Description
42 gzipped fastq files, one for each sequenced individual and named with individual
ID. Files include the demultiplexed raw reads for each seedling. Reads failing the Illumina
quality filter were removed but no other processing was done.

[2019-11-21 18:17] RaymondS1 commented on #542
**Sample_M-14_28.6_R1.**

The part "M-14" refers to the sample name (in this case sample number 14) and 28.6 is the sampling date.

The following samples are control samples: 14/16/21/36/13

These samples are the stressed ones: 43/45/46/48/51

[2019-11-22 14:34] mestato opened #543 "Green Ash P-value loading"
Goal: to load p-values for EAB, drought, cold, heat, ozone and mechanical wounding. (Ignore pre-feeding and post-feeding EAB sheets).

Paper:
https://bmcgenomics.biomedcentral.com/articles/10.1186/s12864-016-3052-0

P-value file:
https://static-content.springer.com/esm/art%3A10.1186%2Fs12864-016-3052-0/MediaObjects/12864_2016_3052_MOESM4_ESM.xlsx

Documentation:
https://github.com/tripal/tripal_an